{% extends '::base.html.twig' %}
{% block content %}
<div class="main-page-filler"></div>
<div id="four-o-four">
    <div class="wrap">
        <div class="content">
            <div class="image"></div>
            <p>
                Как Вы попали сюда, нам неизвестно.<br>
                Но нам известно совершенно точно, что попали Вы сюда по <a href="#">ошибке</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript" src="{{ asset('js/404.js') }}"></script>
{% endblock %}