{% if not is_granted("ROLE_USER") and is_handling() %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Студия веб-разработки "Луначарский"</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <style>
            html,
            body {
                height: 100%;
            }
            body{
                margin: 0;
                font-size: 14px;
                line-height: 18px;
                background: #000;
            }
            #wrap {
                min-height: 100%;
                width: 100%;
                min-width: 700px;
                height: auto !important;
                height: 100%;
                margin: 0 auto;
                background: url({{ asset('img/zaglushka.png') }}) center center no-repeat;
            }
            #push{
                height: 650px;
            }
        </style>
    </head>
    <body>
        <div id="wrap">
            <div id="push"></div>
        </div>
    </body>
</html>
{% else %} 

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% block seo %}
    <title>{% block title %}Студия Lunacharsky{% endblock %}</title>    
    {% endblock %}
    <meta name="viewport" content="width=device-width">

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="{{ asset('js/vendor/modernizr-2.6.2.min.js') }}"></script>
</head>
<body>

<div id="wrap">
    <div id="header">
        <div class="wrap">
            <a class="logo" href="{{ path('homepage') }}"></a>
            <div class="logo-light"></div>
               {% render(controller('LunySiteBundle:Menu:main', {'type' : 'horizontal'})) %}
        </div>
    </div>
    
{{ wo_render_breadcrumbs({ viewTemplate: "LunySiteBundle::breadcrumbs.html.twig" }) }}
    
    {% block content %}   

    {% endblock %}  
        
        
{% block footer %}
{% endblock %}
       
<div id="push"></div>
</div>
<div id="footer">
    <div id="fwrap">
        <div class="wrap">
            <a class="link left" href="{{  path('blog_list') }}">Журналистам</a>
            <div class="phone right">660-06-11</div>
            <a id="cb-link" class="link right" href="#">Связаться</a>
        </div>
    </div>
</div>
<div id="popbg"></div>

<div id="pop">
    {% block popup %}
    {% endblock %}
    <div class="popup callback" data-action="{{ path('feedback') }}"></div>
    {#{% render(controller('LunySiteBundle:Mail:form')) %}#}
    {#
    <div class="popup thanks">
        <div class="close"></div>
        <div class="title"></div>
        <div class="content">
            <div class="large">СПАСИБО!</div>
            Мы свяжемся с вами уже сегодня!
        </div>
    </div>
    #}
    
    <div class="popup four-o-four">
            <div class="close"></div>
            <div class="title">Ошибка!</div>
            <div class="content">
                <div class="large">Эйнштейн тоже ошибался :)</div>
                <img class="img" src="{{ asset('img/einstein.jpg') }}" alt=""/>
                <p>Иногда это огорчало его, но чаще вселяло<br>в его поиски новые надежды…</p>
            </div>
    </div>
    <div class="popup loading"></div>
   
</div>
{% block javascripts %}
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>-->
    <script>window.jQuery || document.write('<script src="{{ asset('js/vendor/jquery-1.10.1.min.js') }}"><\/script>')</script>
    <script type="text/javascript" src="{{ asset('js/vendor/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/validate.js') }}"></script>    
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/prom-detailed.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/person-articles.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/404.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/clients-gloss.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/clients-slider.js') }}"></script>

{% endblock %}
    
{% render(controller('LunySiteBundle:GenParam:counter')) %}
</body>
</html>
{% endif %} 