<div class="close"></div>
<div class="title">
    <div class="shadow">Сотрудники</div>
</div>
<div class="content">
    <div class="pic">
        <img src="{{ worker.photo.path }}" alt=""/>
    </div>
    <div class="text">
        <div class="name">{{ worker.fname }} {{ worker.lname }}</div>
        <p>{{ worker.preview }}</p>
    </div>
</div>
<div class="foot">
    <a class="foot-link" href="{{ path('worker_show', { 'id' : worker.id }) }}">посетить страницу {{ worker.fname }}<span class="icon"></span></a>
</div>