{% for data in blogs %}
<div class="item">
    <div class="link">
        <a href="{{ path('blog_show', { 'id': data.id }) }}">{{ data.title}}</a>
    </div>
    <p>
        {{ data.preview }}
    </p>
</div>
{% endfor %}