{% for worker in workers %}
<div class="item" data-id="{{ worker.id }}">
    <div class="pic">
        <a href="{{ path('worker_show_page', {'id' : worker.id}) }}">
            <img src="{{ web_image(worker.photo.path).resize(null, 200) }}" alt=""/>
        </a>
    </div>
    <a href="{{ path('worker_show_page', {'id' : worker.id}) }}" class="link">
        <span class="inside">
            <span class="who">Кто это?</span>
            <span class="name">{{ worker.fname }}<br>{{ worker.lname }}</span>
        </span>
    </a>
</div>
{% endfor %}