{% extends '::base.html.twig' %}

{% block seo %}
    {% render(controller('LunySiteBundle:SeoBlock:main', {'page' : 'workers'})) %}
{% endblock %}

{% block content %}
<div class="wrap clearfix">
  {% if workers | length > 0 %}
    <div id="person-slider" data-pagenum="{{ pages }}" data-url="{{ path('worker_ajax_slider') }}">
      {% if pages > 1 %}
        <div class="fade left"></div>
        <div class="fade right"></div>
        <div class="arrow left"><div class="icon"></div></div>
        <div class="arrow right"><div class="icon"></div></div>
      {% endif %}
        <div class="container">
            <div class="page">
                {% for data in workers %}
                    <div class="item" data-id="{{ data.id }}">
                        <div class="pic">
                            <a href="{{ path('worker_show_page', {'id' : data.id}) }}">
                                <img src="{{ web_image(data.photo.path).resize(null, 200) }}" alt=""/>
                            </a>
                        </div>
                        <a href="{{ path('worker_show_page', {'id' : data.id}) }}" class="link">
                            <span class="inside">
                                <span class="who">Кто это?</span>
                                <span class="name">{{ data.fname }}<br>{{ data.lname }}</span>
                            </span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
  {% else %}
      <h1 class="content-right">Все уволились...</h1>
  {% endif %}
  {% render(controller('LunySiteBundle:Menu:main', {'type' : 'on_about_page', 'class' : 'content-right', 'active' : path(app.request.attributes.get('_route')) })) %}
</div>

<div class="footer-hands">
    <div class="wrap">
        <div class="hands"></div>
        <a href="#">Тут</a>
    </div>
</div>

{% endblock %}
   
{#{% block popup %}#}
   {#<div class="popup person">#}
       {#% render(controller('LunySiteBundle:Worker:ajaxPerson', {'id' : '1'})) %#}
   {#</div>#}
{#{% endblock %}#}
    
{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript" src="{{ asset('js/person-slider.js') }}"></script>
{% endblock %}