{% extends '::base.html.twig' %}

{% block seo %}
    <title>{{ worker.fname }} {{ worker.lname }} - {{ worker.position }}</title>
    
    {% if worker.description is not null %}
         <meta name="description" content="{{ worker.description }}">
    {% endif %}

    {% if worker.keywords is not null %}
         <meta name="keywords" content="{{ worker.keywords }}">
    {% endif %}
{% endblock %}
    
    
{% block content %}
<div class="wrap clearfix">
    

<div class="page-title">
    <div class="content-right">
        <h1>{{ worker.fname }} {{ worker.lname }}</h1>
        <div class="subtitle">{{ worker.position }}</div>
    </div>
</div>
<div class="content-right person-desc">
    <div class="person-head">
        <div class="thumb">
            <img src="{{ web_image(worker.photo.path).resize(250) }}" alt="{{ worker.fname }}" width="250" />
        </div>
        <div class="text">
            <blockquote>
                {{ worker.quote | raw }}
            </blockquote>
            <p>
                {{ worker.info | raw }}
            </p>
        </div>
    </div>
<br/>

{% if pages is not null %}    
   <h2>Авторские статьи</h2>
    <div id="person-articles">
        <div class="items">
            <div class="page">
                {# % render(controller('LunySiteBundle:Worker:ajaxArticles', {'id' : pages.id, 'request' : pages.page})) %#}
                {% for data in blogs %} {# ajax_articles.html.twig #}
                <div class="item">
                    <div class="link">
                        <a href="{{ path('blog_show', { 'id': data.id }) }}">{{ data.title}}</a>
                    </div>
                    <p>
                        {{ data.preview }}
                    </p>
                </div>
               {% endfor %}
            </div>
        </div>
        <div class="person-pager">
            {{ pages|raw }}
        </div>
    </div>
{% endif %}    

</div>
</div>
<div id="push"></div> 

</div>           
{% endblock %}


{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript" src="{{ asset('js/person-articles.js') }}"></script>
{% endblock %}