{% extends '::base.html.twig' %}

{% block seo %}
    {% render(controller('LunySiteBundle:SeoBlock:main', {'page' : 'flashback'})) %}
{% endblock %}

{% block content %}
<div class="wrap clearfix">
    <div id="flashback">
        <div class="dates"></div>
        <div class="flash-slider">
            <div class="scale">
                <div class="pointer">
                    <div class="round"></div>
                </div>
            </div>
        </div>
        <div class="contents">
            <div class="container">
               {% for data in flashback %}
                    <div class="item" data-year="{{ data.date | date('Y') }}">
                        <div class="pic">
                            <img src="{{ data.image.path }}" alt=""/>
                        </div>
                        <div class="text">
                            <div class="title">{{ data.date | format_date('LLLL', 'ru_RU') }}</div>
                            {{ data.text }}
                        </div>
                    </div>
                {% else %}
                  Событий нет...
                {% endfor %}
            </div>
        </div>
    </div>
    {% render(controller('LunySiteBundle:Menu:main', {'type' : 'on_about_page', 'class' : 'content-right', 'active' : path(app.request.attributes.get('_route')) })) %}
</div>
<div class="footer-hands">
    <div class="wrap">
        <div class="hands"></div>
        <a href="#">Тут</a>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/flashback.js') }}"></script>
{% endblock %}
    
   