{% block content %}
    {% for data in blogs %}
        <div class="item">
            <div class="pic">
                <img src="{{ web_image(data.illustration.path).resize(274) }}" alt=""/>
            </div>
            <div class="text-info">
                <div class="ava">
                    <img src="{{ web_image(data.worker.photo.path).resize(50) }}" alt=""/>
                </div>
                <div class="text">
                    <a class="link" href="{{ path('blog_show', { 'id': data.id }) }}">{{ data.title }}</a>
                    <div class="name">{{ data.worker.fname }} {{ data.worker.lname }}</div>
                </div>
            </div>
        </div>
    {% else %}
        Нет статей.
    {% endfor %}
{% endblock %}