{% extends '::base.html.twig' %}

{% block seo %}
    {% render(controller('LunySiteBundle:SeoBlock:main', {'page' : 'blogs'})) %}
{% endblock %}

{% block content %}
<div class="wrap clearfix">
    <nav class="blog-menu">
        <table>
            <tr>
                {% for branch in branches %}
                   <td><a href="{{ path('blog_list', { 'branch' : branch.id }) }}">{{ branch.title }}</a></td>
                {% endfor %}
            </tr>
        </table>
    </nav>
    <div id="blog-list" data-pagenum="{{ amount_pages }}" data-branch="{{ cur_branch }}" data-url="{{ path('blog_ajax') }}">
        <div class="wrap">
            <div class="items">
                 <div class="page current">
                    {% for data in blogs %}
                          <div class="item">
                              <div class="pic">
                                  <img src="{{ web_image(data.illustration.path).resize(274) }}" alt=""/>
                              </div>
                              <div class="text-info">
                                  <div class="ava">
                                      <img src="{{ web_image(data.worker.photo.path).resize(50) }}" alt=""/>
                                  </div>
                                  <div class="text">
                                      <a class="link" href="{{ path('blog_show', { 'id': data.id }) }}">{{ data.title }}</a>
                                      <div class="name">{{ data.worker.fname }} {{ data.worker.lname }}</div>
                                  </div>
                              </div>
                          </div>
                    {% else %}
                        Нет статей.
                    {% endfor %}
                 </div>
            </div>
        </div>
        <div class="blog-slider">
            <div class="scale">
                <div class="pointer">
                    <div class="round"></div>
                </div>
            </div>
            <div class="numbers"></div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/blog-list.js') }}"></script>
{% endblock %}