{% extends '::base.html.twig' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block content %}
<div class="wrap clearfix">
    <h2>{{ blog.name }}</h2>
    {{ author.fname }} {{ author.lname }}
    {{ blog.content | raw }}
</div>    
{% endblock %}


