{% extends '::base.html.twig' %}

{% block seo %}
    {% render(controller('LunySiteBundle:SeoBlock:main', {'page' : 'technologies'})) %}
{% endblock %}

{% block content %}

        
    <div class="wrap clearfix">
        <div class="technologies">
            
     {% for data in technologies %}            
            <a href="{{ path('technology_show', { 'name': data.name }) }}" class="item">
                <table>
                    <tr>
                        <td class="image">
                            <!-- TODO: решить проблему с размерами -->
                            <img src="{{ data.icon.path }}" alt="{{ data.name }}" width="90" alt=""/>
                        </td>
                        <td class="text">
                            {{ data.preview | raw }}
                        </td>
                    </tr>
                </table>
                <span class="link" href="#" target="_blank">
                    {{ data.name }}
                    <span class="arrow"></span>
                </span>
            </a>
      {% else %}
         Нет технологий.
     {% endfor %}           
        </div>
    </div>

{% endblock %}