{% extends '::base.html.twig' %}

{% block seo %}
    <title>{{ technology.name }}</title>
    
    {% if technology.description is not null %}
         <meta name="description" content="{{ technology.description }}">
    {% endif %}

    {% if technology.keywords is not null %}
         <meta name="keywords" content="{{ technology.keywords }}">
    {% endif %}
{% endblock %}

{% block content %}
<div class="wrap clearfix">

    <div class="page-title">
        <div class="content-left">
            <a class="link" href="{{ path('project_list') }}">Проекты</a>
        </div>
        <div class="content-right">
            <h1>{{ technology.name }}</h1>
            <div class="subtitle">{{ technology.preview }}</div>
        </div>
    </div>
    <div class="content-left">
        <div class="banner">
            <img src="{{ technology.icon.path }}" alt=""/>
        </div>
    </div>
    <div class="content-right">
        <p>
            {{ technology.info | raw }}
        </p>
        <div class="tech-list">
            {% for tech in technologies %}
                {% if tech.name != technology.name %}
            <span class="item">
                <a class="img" href="{{ path('technology_show', { 'name': tech.name }) }}">
                    <img src="{{ tech.icon.path }}" alt=""/>
                </a>
                <a href="{{ path('technology_show', { 'name': tech.name }) }}">{{ tech.preview }}</a>
            </span>
                {% endif %}
           {% endfor %}
        </div>
    </div>
   
</div>
{% endblock %}
