<div class="col">
{% for data in customers %}
        
            <div class="item">
                <div class="title">
                    <a href="{{ path('customer_show', { 'id': data.id }) }}">{{ data.organization }}</a>
                </div>
                <p>{{ data.preview }}</p>
            </div>
    
    {% if loop.index is divisibleby(3) %}
        </div><div class="col">
    {% endif %}

{% else %}
           Данные отсутствуют...
{% endfor %}

            
</div>