{% extends '::base.html.twig' %}

{% block seo %}
    {% render(controller('LunySiteBundle:SeoBlock:main', {'page' : 'customers'})) %}
{% endblock %}

{% block content %}
    <div class="wrap clearfix">
        <div class="page-title">
            <div class="content-left">
                <a class="b-link" href="#">Вернуться</a>
            </div>
            <div class="content-right">
                <h1>Клиенты скучным списком</h1>
            </div>
        </div>
        <div id="clients-gloss">
            <table class="cg-menu">
                <tr>
                       <td class="lang">
                            <a class="current-lang">
                                <span class="text">Русский</span>
                                <span class="arr"></span>
                            </a>
                            <ul class="list">
                               {% for lang, label in langs_labels %}
                                      <li><a {% if  lang == 'ru' %}class="active" {% endif %}data-lang="{{ lang }}">{{ label }}</a></li>
                               {% endfor %}
                           </ul>
                        </td>

                       {% for lang, letter in lets %}
                         {% if lang == 'ru' %}
                           {% set active, hidden = true, true %}
                         {% else %}
                           {% set active, hidden = false, false %}
                         {% endif %}
                             {% for let in letter %}
                                <td class="{{ lang }}{% if  lang == 'en' %} hidden{% endif %}">
                                      <a{% if let not in available %} class="empty"{% endif %} href="{{ path('customer_glossary_ajax', {'lang' : lang, 'id' : loop.index0}) }}">{{ let }}</a>
                                </td>
                             {% endfor %}
                       {% endfor %}
                </tr>
            </table>
            <div class="items" data-id="1">
    {% render(controller('LunySiteBundle:Customer:glossaryAjax')) %}
        </div>
</div>

        <div class="content-right bottom-links">
            <a href="{{ path('customer_glossary') }}" class="active">Клиенты скучным списком</a>
            <a href="{{ path('customer_list') }}">Клиенты во всей красе</a>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript" src="{{ asset('js/clients-gloss.js') }}"></script>
{% endblock %}