{% extends '::base.html.twig' %}

{% block seo %}
    {% render(controller('LunySiteBundle:SeoBlock:main', {'page' : 'customers'})) %}
{% endblock %}

{% block content %}
   {#{% for data in customers %}
         <h2><a href="{{ path('customer_show', { 'id': data.id }) }}">{{ data.name}}</a></h2>
   {% else %}
       Нет клинетов.
   {% endfor %}
  #}

<div class="wrap clearfix">
    <div class="page-title">
        <div class="content-left">
            <a class="b-link" href="#">Вернуться</a>
        </div>
        <div class="content-right">
            <h1>Клиенты во всей красе</h1>
        </div>
    </div>
    <div class="content-right">
        <p>
            Все дата-центры представляют собой высокотехнологические площадки, оборудованные
            современными системами, обеспечивающими бесперебойную, защищенную работу
            установленного на них оборудования:
        </p>
    </div>
    <div id="roller-slider">
        <div class="arrow left"><div class="icon"></div></div>
        <div class="arrow right"><div class="icon"></div></div>
        <div class="container">
            
            {% for data in customers %}
            <div class="item"><!-- left, current, right -->
                <div class="text">
                    <div class="title">{{ data.name}}</div>
                    <img class="preview" src="{% if data.image is not null %} {{ data.image.path }} {% endif %}" alt=""/>
                   {{ data.preview }}
                </div>
                <a class="readmore" href="{{ path('customer_show', { 'id': data.id }) }}">Подробнее</a>
            </div>
               {% else %}
       Нет клинетов.
   {% endfor %}
       {#
            <div class="item">
                <div class="text">
                    <div class="title">Какой-то длинный заголовок 2</div>
                    <img class="preview" src="img/temp/rs-preview-2.jpg" alt=""/>
                    2 Все дата-центры представляют собой высокотехнологические площадки, оборудованные
                    современными системами, обеспечивающими бесперебойную, защищенную работу
                    установленного на них оборудования:
                </div>
                <a class="readmore" href="#">Подробнее</a>
            </div>
        #}
        </div>
    </div>
    <div class="content-right bottom-links">
        <a href="{{ path('customer_glossary') }}">Клиенты скучным списком</a>
        <a href="" class="active">Клиенты во всей красе</a>
    </div>
</div>
       
       
       
{% endblock %}
       
{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript" src="{{ asset('js/clients-slider.js') }}"></script>
{% endblock %}