{% extends '::base.html.twig' %}

{% block seo %}
    <title>{{ customer.name }}</title>
    
    {% if customer.description is not null %}
         <meta name="description" content="{{ customer.description }}">
    {% endif %}

    {% if customer.keywords is not null %}
         <meta name="keywords" content="{{ customer.keywords }}">
    {% endif %}
{% endblock %}

{% block content %}
<div class="wrap clearfix">
    
    <div class="page-title">
        <div class="content-left">
            <a class="b-link" href="{{ path('customer_list') }}">Обратно к списку клиентов</a>
        </div>
        <div class="content-right">
            <h1>{{ customer.name }}</h1>
            <div class="subtitle">{{ customer.description }}</div>
        </div>
    </div>
    <div class="content-left">
        <div class="banner">
            <img src="{{ customer.image.path }}" alt=""/>
        </div>
    </div>

    <div class="content-right company-desc">
        <p>{{ customer.info | raw }}</p>

        <div class="icon-link">
            <span class="icon earth"></span><a href="#">{{ customer.site }}</a>
        </div>

        <div class="tasks">
            Выполненные задачи:
            <ul>
                {% for data in projects %}
                <li><a href="{{ path('project_show', { 'id': data.id }) }}">{{ data.title }}</a><span class="icon"></span></li>
                {% endfor %}
            </ul>
        </div>

        <div class="icon-link">
            <span class="icon cloud"></span><a class="show-review" href="#">показать отзыв</a>
        </div>

        <div class="sd-review">
            {{ customer.response | raw }}
        </div>
    </div>    
</div>    
{% endblock %}


