.animation-name(@name, @duration: 400ms){
  -webkit-animation-name: @name;
  -moz-animation-name: @name;
  -o-animation-name: @name;
  animation-name: @name;
  -webkit-animation-duration: @duration;
  -moz-animation-duration: @duration;
  -o-animation-duration: @duration;
  animation-duration: @duration;
}