html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #625a55;
  background: #f7ede8;
}
body.popshown {
  overflow: hidden;
}
img {
  border: 0;
  vertical-align: middle;
}
h1 {
  font-size: 22px;
  line-height: 22px;
  font-weight: normal;
  margin: 0 0 4px;
  color: #d94635;
}
p {
  margin: 0 0 19px;
}
blockquote {
  border: 0;
  margin: 0;
}
ul {
  margin: 19px 0;
  padding-left: 18px;
}
a {
  color: #4b818c;
  cursor: pointer;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 -50px;
  position: relative;
}
#push {
  height: 50px;
}
#footer {
  background-color: #f5f5f5;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.wrap {
  width: 978px;
  margin: 0 auto;
  position: relative;
}
textarea {
  resize: vertical;
}
#header {
  height: 109px;
}
#header .wrap {
  height: 100%;
}
#header .logo-light {
  position: absolute;
  left: -58px;
  top: 0;
  height: 147px;
  width: 370px;
  background: url(../img/logo-light.png) no-repeat;
  z-index: 1;
}
#header .logo {
  display: block;
  width: 257px;
  height: 58px;
  position: absolute;
  top: 41px;
  left: 0;
  background: url(../img/logo.png) no-repeat;
  z-index: 2;
}
#header nav {
  position: absolute;
  right: 0;
  top: 49px;
  width: 646px;
  overflow: hidden;
  font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  z-index: 2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}
#header nav table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
  background: #518793;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #497b88), color-stop(1, #59939e));
  background: -ms-linear-gradient(bottom, #497b88, #59939e);
  background: -moz-linear-gradient(center bottom, #497b88 0%, #59939e 100%);
  background: -o-linear-gradient(#59939e, #497b88);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
#header nav td {
  padding: 0;
}
#header nav a {
  display: block;
  padding: 14px 0;
  border-left: 1px solid #558e9a;
  border-right: 1px solid #4c7f89;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
#header nav a:hover {
  border-color: transparent;
  padding: 14px 0;
  background: #5f97a1;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4b818e), color-stop(1, #75afb6));
  background: -ms-linear-gradient(bottom, #4b818e, #75afb6);
  background: -moz-linear-gradient(center bottom, #4b818e 0%, #75afb6 100%);
  background: -o-linear-gradient(#75afb6, #4b818e);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #352f2b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2d2825), color-stop(1, #3d3631));
  background: -ms-linear-gradient(bottom, #2d2825, #3d3631);
  background: -moz-linear-gradient(center bottom, #2d2825 0%, #3d3631 100%);
  background: -o-linear-gradient(#3d3631, #2d2825);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
  z-index: 10;
}
#footer .wrap {
  padding-top: 10px;
}
#footer .left {
  float: left;
  margin-right: 20px;
}
#footer .right {
  float: right;
  margin-left: 20px;
}
#footer .phone {
  display: block;
  padding-top: 7px;
  color: #fff;
  text-shadow: 0 -1px 0px #000000;
  font-size: 18px;
  line-height: 18px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
#footer .link {
  display: block;
  padding: 6px 7px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #57504c transparent #484440;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0px #000000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0 0 1px 1px #2f2a26;
  -moz-box-shadow: 0 0 1px 1px #2f2a26;
  box-shadow: 0 0 1px 1px #2f2a26;
  background: #352f2b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2f2a26), color-stop(1, #3e3833));
  background: -ms-linear-gradient(bottom, #2f2a26, #3e3833);
  background: -moz-linear-gradient(center bottom, #2f2a26 0%, #3e3833 100%);
  background: -o-linear-gradient(#3e3833, #2f2a26);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
#footer .link:hover {
  border-color: #423D3B transparent #3C3936;
  background: #352f2b;
}
#footer .link:active {
  border-top-color: transparent;
  border-bottom-color: #423d3a;
  -webkit-box-shadow: inset 0 2px 6px -2px #000000;
  -moz-box-shadow: inset 0 2px 6px -2px #000000;
  box-shadow: inset 0 2px 6px -2px #000000;
  background: #352f2b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #362f2c), color-stop(1, #322c28));
  background: -ms-linear-gradient(bottom, #362f2c, #322c28);
  background: -moz-linear-gradient(center bottom, #362f2c 0%, #322c28 100%);
  background: -o-linear-gradient(#322c28, #362f2c);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.icon-link .icon {
  display: inline-block;
  margin: 0 9px 0 0;
  width: 16px;
  height: 16px;
  background: url(../img/icons.png) no-repeat;
  vertical-align: bottom;
}
.icon-link .icon.earth {
  background-position: -72px -172px;
}
.icon-link .icon.cloud {
  background-position: -72px -190px;
}
.kremlin {
  position: fixed;
  right: 0;
  bottom: 50px;
  width: 100%;
  z-index: 2;
}
.kremlin a {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  padding: 87px 0 0;
  width: 188px;
  height: 18px;
  background: url(../img/icons.png) -72px 0 no-repeat;
}
.kremlin span {
  display: block;
  margin: 0 auto;
  width: 144px;
  height: 15px;
  background: url(../img/icons.png) -72px -108px no-repeat;
}
.kremlin:hover span {
  background-position: -72px -125px;
}
.main-page-filler {
  height: 360px;
}
#main-page {
  position: absolute;
  top: 109px;
  bottom: 50px;
  width: 100%;
}
#main-page .wrap {
  height: 100%;
}
#main-page .quote {
  position: absolute;
  top: 34%;
  right: 0;
  width: 310px;
  color: #625a55;
  font-size: 18px;
  line-height: 34px;
  text-align: right;
  z-index: 2;
}
#main-page .quote p {
  margin: 0;
  min-height: 68px;
}
#main-page .quote .name {
  font-size: 16px;
  line-height: 16px;
  color: #d94635;
}
#main-page .quote .name:before {
  content: "- ";
}
#main-page .quote .prof {
  font-size: 12px;
  line-height: 14px;
  color: #8e8e8e;
}
#main-page .quote .icon {
  display: inline-block;
  vertical-align: top;
}
#main-page .person {
  position: absolute;
  bottom: 0;
  height: 100%;
  right: 100px;
  width: 600px;
  max-height: 800px;
  text-align: center;
}
#main-page .person img {
  display: block;
  margin: 0 auto;
  vertical-align: top;
  height: 100%;
}
#cms-slider {
  position: absolute;
  top: 20%;
  left: 0;
  background: #fff;
  width: 337px;
  padding: 24px 30px 15px;
  margin-bottom: 7px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 10px #bd8263;
  -moz-box-shadow: 0 4px 10px #bd8263;
  box-shadow: 0 4px 10px #bd8263;
  z-index: 2;
}
#cms-slider .title {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #436a75;
}
#cms-slider .title b {
  display: block;
  margin-top: 4px;
  font-size: 22px;
  line-height: 22px;
  color: #d94635;
  font-weight: normal;
}
#cms-slider .items {
  position: relative;
  width: 337px;
  height: 83px;
  margin: 0 auto 7px;
  padding: 16px 0 0;
  background: url(../img/cms-slide-back.jpg) center center no-repeat;
  overflow: hidden;
}
#cms-slider .container {
  width: 10000px;
  position: relative;
}
#cms-slider .item {
  width: 92px;
  padding: 0 10px;
  float: left;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #99918c;
  cursor: pointer;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#cms-slider .item.active,
#cms-slider .item:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
#cms-slider .item .icon {
  display: block;
  width: 50px;
  height: 42px;
  padding: 8px 0 0;
  margin: 0 auto 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #9eccd0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6cb3b8), color-stop(1, #c3e0e2));
  background: -ms-linear-gradient(bottom, #6cb3b8, #c3e0e2);
  background: -moz-linear-gradient(center bottom, #6cb3b8 0%, #c3e0e2 100%);
  background: -o-linear-gradient(#c3e0e2, #6cb3b8);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
#cms-slider .item .icon span {
  display: block;
  width: 50px;
  height: 34px;
  background: url(../img/cms-slider-icons.png) 0 0 no-repeat;
}
#cms-slider .item .icon span.cart {
  background-position: 0 0;
}
#cms-slider .item .icon span.people {
  background-position: -50px 0;
}
#cms-slider .item .icon span.tv {
  background-position: -100px 0;
}
#cms-slider .item .hiddentext {
  display: none;
}
#cms-slider .arrow {
  position: absolute;
  top: 108px;
  display: block;
  width: 35px;
  height: 40px;
  background: url(../img/icons.png) no-repeat;
  cursor: pointer;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#cms-slider .arrow span {
  position: absolute;
  top: 11px;
  display: block;
  width: 8px;
  height: 16px;
  background: url(../img/icons.png) no-repeat;
  -moz-opacity: 0.55;
  -khtml-opacity: 0.55;
  -webkit-opacity: 0.55;
  opacity: 0.55;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=55.00000000000001);
  filter: alpha(opacity=55.00000000000001);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#cms-slider .arrow:hover span {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
#cms-slider .arrow.left {
  left: 14px;
  background-position: 0 0;
}
#cms-slider .arrow.left span {
  left: 11px;
  background-position: 0 -42px;
}
#cms-slider .arrow.right {
  right: 14px;
  background-position: -37px 0;
}
#cms-slider .arrow.right span {
  right: 11px;
  background-position: -10px -42px;
}
#cms-slider .text {
  position: relative;
  padding: 14px 8px 13px;
  font-size: 12px;
  line-height: 16px;
  color: #232323;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #deedef;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d8eaec), color-stop(1, #e5f1f3));
  background: -ms-linear-gradient(bottom, #d8eaec, #e5f1f3);
  background: -moz-linear-gradient(center bottom, #d8eaec 0%, #e5f1f3 100%);
  background: -o-linear-gradient(#e5f1f3, #d8eaec);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
#cms-slider .text:before {
  content: "";
  width: 16px;
  height: 10px;
  position: absolute;
  top: -8px;
  left: 168px;
  margin-left: -7px;
  background: url(../img/icons.png) -37px -42px no-repeat;
}
/* Стили для текстовых иконок */
.icon {
  background: url(../img/icons.png) no-repeat;
}
.icon.heart {
  width: 37px;
  height: 33px;
  background-position: 0 -84px;
}
/* Контент с отступом справа */
.content-right {
  padding-left: 332px;
}
.content-left {
  float: left;
  width: 250px;
  padding-top: 1px;
  text-align: right;
}
.content-left .link,
.content-left .b-link {
  display: inline-block;
  width: 178px;
  height: 12px;
  padding: 10px 6px;
  background: #da7939;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c96526), color-stop(1, #e98a49));
  background: -ms-linear-gradient(bottom, #c96526, #e98a49);
  background: -moz-linear-gradient(center bottom, #c96526 0%, #e98a49 100%);
  background: -o-linear-gradient(#e98a49, #c96526);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
  font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.content-left .link:hover,
.content-left .b-link:hover {
  background: #64949b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #58878e), color-stop(1, #72a2aa));
  background: -ms-linear-gradient(bottom, #58878e, #72a2aa);
  background: -moz-linear-gradient(center bottom, #58878e 0%, #72a2aa 100%);
  background: -o-linear-gradient(#72a2aa, #58878e);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.content-left .b-link {
  width: 194px;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.content-left .b-link:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 12px;
  height: 32px;
  background: url(../img/icons.png) -248px -140px no-repeat;
}
.content-left .banner {
  display: block;
  padding: 10px;
  /*height: 140px;*/
  /*line-height: 138px;*/
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 4px 6px 0 #e0c2b2;
  -moz-box-shadow: 0 4px 6px 0 #e0c2b2;
  box-shadow: 0 4px 6px 0 #e0c2b2;
}
.content-left .banner img {
  display: inline-block;
  max-width: 100%;
  /*max-height: 140px;*/
  vertical-align: middle;
}
.content-left.wide {
  width: 270px;
  position: relative;
}
.content-left.wide .b-link {
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 2;
}
.left-block {
  overflow: hidden;
  margin: 0 0 38px;
  text-align: center;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 10px -2px #e0c2b2;
  -moz-box-shadow: 0 6px 10px -2px #e0c2b2;
  box-shadow: 0 6px 10px -2px #e0c2b2;
}
.left-block .title {
  padding: 15px 20px;
  border-bottom: 1px solid #ede9e8;
  color: #436a75;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
.left-block .content {
  border-top: 1px solid #fff;
  -webkit-box-shadow: inset 0 32px 16px -16px #f9f7f6;
  -moz-box-shadow: inset 0 32px 16px -16px #f9f7f6;
  box-shadow: inset 0 32px 16px -16px #f9f7f6;
}
.team-left {
  padding: 19px 20px;
}
.team-left table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.team-left td {
  padding: 28px 0 0;
  vertical-align: top;
  text-align: left;
}
.team-left td.pic {
  width: 60px;
  padding-top: 20px;
  padding-right: 20px;
}
.team-left tr:first-child .pic {
  padding-top: 0px;
}
.team-left tr:first-child td {
  padding-top: 8px;
}
.team-left .pic-link {
  display: block;
  padding: 5px;
  width: 50px;
  background: #f6eeea;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 4px 4px -4px #e4d0c5;
  -moz-box-shadow: inset 0 4px 4px -4px #e4d0c5;
  box-shadow: inset 0 4px 4px -4px #e4d0c5;
}
.team-left .pic-link img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  -webkit-box-shadow: 0 3px 2px -2px #e5d1c6;
  -moz-box-shadow: 0 3px 2px -2px #e5d1c6;
  box-shadow: 0 3px 2px -2px #e5d1c6;
}
.team-left a {
  color: #436a75;
}
.team-left dl,
.team-left dt,
.team-left dd {
  display: block;
  padding: 0;
  margin: 0;
}
.tech-left {
  padding-bottom: 20px;
  margin-left: -4px;
  position: relative;
  *zoom: 1;
}
.tech-left:before,
.tech-left:after {
  content: " ";
  display: table;
}
.tech-left:after {
  clear: both;
}
.tech-left .item {
  width: 100px;
  height: 60px;
  float: left;
  margin-left: 26px;
  margin-top: 14px;
  text-align: center;
  line-height: 60px;
}
.tech-left .item > a {
  display: inline-block;
  vertical-align: middle;
}
.tech-left .item img {
  display: block;
  max-width: 100px;
  max-height: 60px;
}
.tech-left dl,
.tech-left dt,
.tech-left dd {
  display: none;
}
.hint {
  position: fixed;
  display: none;
  width: 275px;
  padding: 14px 16px;
  background: #fff;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 4px -2px #b6afab;
  -moz-box-shadow: 0 4px 4px -2px #b6afab;
  box-shadow: 0 4px 4px -2px #b6afab;
}
.hint dl,
.hint dt,
.hint dd {
  margin: 0;
  padding: 0;
}
.hint dt {
  margin-bottom: 5px;
  color: #436a75;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
.hint dd {
  font-size: 12px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.breadcrumbs {
  height: 13px;
  margin-bottom: 26px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 11px;
  line-height: 13px;
  color: #4b818c;
  text-transform: lowercase;
}
.breadcrumbs a {
  color: #4b818c;
}
.breadcrumbs span,
.breadcrumbs a {
  display: inline-block;
  margin-right: 7px;
  vertical-align: top;
}
.page-title {
  margin-bottom: 33px;
  *zoom: 1;
}
.page-title:before,
.page-title:after {
  content: " ";
  display: table;
}
.page-title:after {
  clear: both;
}
.page-title .subtitle {
  color: #99918c;
}
#sites-slider {
    /*min-height: 212px;*/
    margin: 49px 0 20px;
    padding: 0 4px;
    position: relative;
    overflow: hidden;
}
#sites-slider .item {
    display: block;
    width: 234px;
    float: left;
    margin-left: 67px;
    font-size: 12px;
    line-height: 13px;
    color: #9f9792;
}
#sites-slider .item .title {
    font-size: 14px;
    line-height: 14px;
    color: #436a75;
}
#sites-slider .item a {
    text-decoration: none;
}
#sites-slider .item a:hover {
    text-decoration: underline;
}
#sites-slider .arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 86px;
    background: #d97738;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c96526), color-stop(1, #e98a49));
    background: -ms-linear-gradient(bottom, #c96526, #e98a49);
    background: -moz-linear-gradient(center bottom, #c96526 0%, #e98a49 100%);
    background: -o-linear-gradient(#e98a49, #c96526);
    /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 4;
}
#sites-slider .arrow:hover {
    background: #64949b;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #58878e), color-stop(1, #72a2aa));
    background: -ms-linear-gradient(bottom, #58878e, #72a2aa);
    background: -moz-linear-gradient(center bottom, #58878e 0%, #72a2aa 100%);
    background: -o-linear-gradient(#72a2aa, #58878e);
    /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
#sites-slider .arrow .icon {
    width: 9px;
    height: 19px;
    display: block;
    position: absolute;
    top: 11px;
    background: url(../img/icons.png) no-repeat;
}
#sites-slider .arrow.left {
    left: 0;
}
#sites-slider .arrow.left .icon {
    left: 14px;
    background-position: 0 -60px;
}
#sites-slider .arrow.right {
    right: 0;
}
#sites-slider .arrow.right .icon {
    left: 17px;
    background-position: -11px -60px;
}
#sites-slider .container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
#sites-slider .page {
    width: 970px;
    /*float: left;*/
    position: absolute;
    overflow: hidden;
}
#sites-slider .page .moving {
    position: absolute;
    top: 0 !important;
    left: 0;
}
#sites-slider .page.loading {
    width: 100%;
    height: 100%;
    background: url(../img/loader-gray.GIF) center center no-repeat;
}
#sites-slider .fade {
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    background: url(../img/fade-overlay.png) repeat-y;
    z-index: 4;
}
#sites-slider .fade.left {
    left: 4px;
    background-position: -50px 0;
}
#sites-slider .fade.right {
    right: 4px;
    background-position: 0 0;
}
#sites-slider .thumb {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
#sites-slider .thumb img {
    display: block;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 15px 0 #e0c2b2;
    -moz-box-shadow: 0 10px 15px 0 #e0c2b2;
    box-shadow: 0 10px 15px 0 #e0c2b2;
}
#sites-slider .thumb .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    z-index: 2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#sites-slider .thumb:hover .overlay {
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    -webkit-opacity: 0.3;
    opacity: 0.3;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    filter: alpha(opacity=30);
}
.bottom-links {
  margin: 35px 0 46px;
  font-size: 0;
}
.bottom-links.content-right {
  margin-top: 0;
}
.bottom-links a {
  display: inline-block;
  padding: 9px 12px;
  margin: 0 17px 0 0;
  min-width: 108px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #d97738;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c96526), color-stop(1, #e98a49));
  background: -ms-linear-gradient(bottom, #c96526, #e98a49);
  background: -moz-linear-gradient(center bottom, #c96526 0%, #e98a49 100%);
  background: -o-linear-gradient(#e98a49, #c96526);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
  font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
.bottom-links a:hover,
.bottom-links a.active {
  background: #64949b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #58878e), color-stop(1, #72a2aa));
  background: -ms-linear-gradient(bottom, #58878e, #72a2aa);
  background: -moz-linear-gradient(center bottom, #58878e 0%, #72a2aa 100%);
  background: -o-linear-gradient(#72a2aa, #58878e);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.bottom-links a.active {
  cursor: default;
}
.bottom-links .col {
  float: left;
  margin-left: 17px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #99918c;
}
.bottom-links .col:first-child {
  margin-left: 0;
}
.bottom-links .col a {
  display: block;
  margin: 0 0 4px;
}
.bottom-links.long {
  margin-bottom: 32px;
}
.bottom-links.long a {
  min-width: 124px;
}
#promo-menu {
  overflow: hidden;
  margin: -33px 0 20px 0;
  *zoom: 1;
}
#promo-menu:before,
#promo-menu:after {
  content: " ";
  display: table;
}
#promo-menu:after {
  clear: both;
}
#promo-menu .item {
  float: left;
  width: 230px;
  margin-left: 18px;
}
#promo-menu .item:first-child {
    margin: 0;
}
#promo-menu .text {
  padding: 13px 21px 0;
  height: 122px;
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 9px 15px -4px #e0c2b2;
  -moz-box-shadow: 0 9px 15px -4px #e0c2b2;
  box-shadow: 0 9px 15px -4px #e0c2b2;
  text-align: center;
  color: #625a55;
}
#promo-menu .text a {
  display: block;
  margin: 0 0 10px;
  padding: 5px 10px 4px;
  border: 1px solid #dbdbdb;
  font-size: 18px;
  line-height: 20px;
  color: #4b818c;
  text-decoration: none;
  text-align: center;
  background: #f9f9f9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f2f2f2), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #f2f2f2, #ffffff);
  background: -moz-linear-gradient(center bottom, #f2f2f2 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #f2f2f2);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#promo-menu .text a:hover {
  border-color: #D0D0D0;
  background: #f2f2f2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #fefefe));
  background: -ms-linear-gradient(bottom, #e6e6e6, #fefefe);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #fefefe 100%);
  background: -o-linear-gradient(#fefefe, #e6e6e6);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
#promo-menu .man {
  position: relative;
  height: 212px;
  line-height: 212px;
  text-align: center;
  background: url(../img/pman-shadow.png) center bottom no-repeat;
}
#promo-menu .man img {
  display: inline-block;
  vertical-align: bottom;
  max-height: 100%;
  max-width: 100%;
}
#promo-menu .picture {
  height: 58px;
  line-height: 58px;
  text-align: center;
}
#promo-menu .picture img {
  display: inline-block;
  max-height: 100%;
  vertical-align: middle;
}
#p-detailed {
  margin-bottom: 38px;
  min-height: 320px;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#p-detailed h2 {
  font-size: 22px;
  line-height: 22px;
  font-weight: normal;
  margin: 0 0 13px;
  color: #d94635;
}
#p-detailed p {
  margin: 0 0 19px;
}
#p-detailed table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
#p-detailed table td {
  padding: 0;
}
#p-detailed a {
  color: #436a75;
}
#p-detailed .man {
  position: absolute;
  left: 0;
  top: 40px;
  width: 230px;
  height: 280px;
  line-height: 280px;
  text-align: center;
  background: url(../img/pman-shadow.png) center bottom no-repeat;
  z-index: 2;
}
#p-detailed .man img {
  display: inline-block;
  vertical-align: bottom;
  max-height: 100%;
  max-width: 100%;
}
#p-detailed .pager {
  display: block;
  position: absolute;
  left: 498px;
  top: 0px;
  z-index: 3;
}
#p-detailed .pager .page-num {
  display: block;
  width: 35px;
  height: 21px;
  padding: 14px 8px 16px;
  margin-right: 19px;
  border-top: 1px solid #fff;
  float: left;
  font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 1em;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #dc5242;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d44033), color-stop(1, #e46551));
  background: -ms-linear-gradient(bottom, #d44033, #e46551);
  background: -moz-linear-gradient(center bottom, #d44033 0%, #e46551 100%);
  background: -o-linear-gradient(#e46551, #d44033);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  -webkit-opacity: 0.4;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity=40);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
#p-detailed .pager .page-num:hover,
#p-detailed .pager .page-num.active {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
#p-detailed .back {
  position: absolute;
  left: 0;
  top: 32px;
  width: 484px;
  height: 280px;
  line-height: 280px;
  text-align: right;
}
#p-detailed .back img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
#p-detailed .quote {
  position: absolute;
  top: 113px;
  left: 244px;
  width: 236px;
  color: #615953;
  font-style: italic;
}
#p-detailed .quote:before {
  content: "";
  position: absolute;
  left: -36px;
  top: 2px;
  display: block;
  width: 29px;
  height: 25px;
  background: url(../img/icons.png) -72px -142px no-repeat;
}
#p-detailed .quote .name {
  margin-top: 7px;
  float: right;
  color: #436a75;
  font-style: normal;
}
#p-detailed .quote .name span {
  display: block;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 12px;
  color: #9f9792;
}
#p-detailed .item {
  position: relative;
  padding: 78px 0 0 498px;
  min-height: 242px;
}
#p-detailed .item.moving {
  position: absolute;
  top: 0;
  left: 0;
}
.gov-orders {
  margin-left: -18px;
  margin-bottom: 30px;
  *zoom: 1;
}
.gov-orders:before,
.gov-orders:after {
  content: " ";
  display: table;
}
.gov-orders:after {
  clear: both;
}
.gov-orders .item {
  float: left;
  width: 148px;
  height: 190px;
  margin-left: 18px;
}
.gov-orders .image {
  height: 82px;
}

.gov-orders .image img{
    height: 70px;
}

.gov-orders .link {
  line-height: 18px;
  height: 36px;
}
.gov-orders .link a {
  text-decoration: none;
}
.gov-orders .link a:hover {
  text-decoration: underline;
}
.gov-orders s {
  display: block;
  text-decoration: none;
  font-size: 12px;
}
.socials {
  margin: 0 0 28px -6px;
  overflow: hidden;
}
.socials .items {
  float: left;
  overflow: hidden;
  padding: 3px 6px 4px;
  background: #dbcbbb;
}
.socials .item {
  float: left;
}
.person-pager {
  padding: 19px 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #9e9590;
  font-size: 0;
  line-height: 18px;
  text-align: center;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.person-pager a {
  display: inline-block;
  margin: 0 14px;
  font-size: 18px;
  vertical-align: top;
}
.person-pager a.active {
  text-decoration: none;
  color: #d94635;
  cursor: default;
}
.footer-robo {
  position: absolute;
  left: 0px;
  bottom: 50px;
  width: 100%;
}
.footer-robo .robo {
  position: absolute;
  left: 4px;
  bottom: 0;
  width: 247px;
  height: 233px;
  background: url(../img/cms-robo.png) center bottom no-repeat;
}
.footer-robo .text {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
.footer-robo a {
  position: absolute;
  top: 193px;
  left: 190px;
  text-decoration: none;
}
.footer-robo a:hover {
  text-decoration: underline;
}
.technologies {
  margin: 33px 0 0;
  padding-left: 48px;
  font-size: 12px;
  *zoom: 1;
}
.technologies:before,
.technologies:after {
  content: " ";
  display: table;
}
.technologies:after {
  clear: both;
}
.technologies table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.technologies td {
  height: 164px;
  padding: 0;
  vertical-align: middle;
  font-style: italic;
}
.technologies .image {
  width: 120px;
  text-align: center;
}
.technologies .text {
  padding-right: 8px;
}
.technologies .link {
  position: absolute;
  bottom: -90px;
  left: 0;
  display: block;
  width: 232px;
  padding: 11px 44px 12px 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  background: #2e2925;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3b3530), color-stop(1, #221f1c));
  background: -ms-linear-gradient(bottom, #3b3530, #221f1c);
  background: -moz-linear-gradient(center bottom, #3b3530 0%, #221f1c 100%);
  background: -o-linear-gradient(#221f1c, #3b3530);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.technologies .link .arrow {
  position: absolute;
  top: 50%;
  right: 13px;
  display: block;
  width: 17px;
  height: 20px;
  background: url(../img/icons.png) -103px -142px;
  margin-top: -8px;
}
.technologies .item {
  position: relative;
  display: block;
  width: 290px;
  height: 180px;
  float: left;
  margin-left: 20px;
  margin-bottom: 40px;
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 10px -2px #e2c6b7;
  -moz-box-shadow: 0 6px 10px -2px #e2c6b7;
  box-shadow: 0 6px 10px -2px #e2c6b7;
}
.technologies .item:hover .link {
  bottom: 0;
}
.products {
  position: relative;
  margin: -15px 0 12px 0;
  padding-top: 161px;
  *zoom: 1;
}
.products:before,
.products:after {
  content: " ";
  display: table;
}
.products:after {
  clear: both;
}
.products .link {
  position: absolute;
  top: 3px;
  left: 730px;
  width: 86px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}
.products .link a {
  color: #4b818c;
}
.products .head {
  position: absolute;
  left: 364px;
  top: 0;
  width: 225px;
  height: 161px;
  background: url(../img/prods-head.png) center bottom no-repeat;
}
.products .hand {
  position: absolute;
  top: 33px;
  left: 735px;
  width: 109px;
  height: 135px;
  background: url(../img/prods-hand.png) center bottom no-repeat;
}
.products .items {
  margin: 0 0 0 -18px;
}
.products .item {
  height: 152px;
  width: 266px;
  padding: 15px 24px 18px;
  margin: 0 0 18px 18px;
  float: left;
  background: #fff;
  -webkit-box-shadow: 0 3px 4px -2px #e2c6b7;
  -moz-box-shadow: 0 3px 4px -2px #e2c6b7;
  box-shadow: 0 3px 4px -2px #e2c6b7;
}
.products .item a {
  color: #d94635;
  text-decoration: none;
}
.products .item a:hover {
  text-decoration: underline;
}
.products .item table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.products .item td {
  padding: 0;
  height: 76px;
  text-align: center;
  vertical-align: middle;
}
.products .item .title {
  color: #d94635;
  font-size: 18px;
  line-height: 20px;
}
.products .item .img img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
}
#about {
  margin: 14px 0;
  padding-left: 88px;
  text-align: center;
}
#about .wrap {
  width: 620px;
}
#about .chief {
  margin: 0 auto 14px;
  width: 217px;
  height: 206px;
  background: url(../img/lunacharsky.jpg) center top no-repeat;
}
#about .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 28px;
  color: #d94635;
}
#about .title .date {
  font-size: 18px;
  line-height: 22px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
#about .text {
  height: 114px;
  margin-bottom: 5px;
}
#about .bottom-links a {
  margin: 0 9px;
  min-width: 98px;
}
#person-slider {
    position: relative;
    min-height: 294px;
    margin: 34px 0 94px;
    padding: 0 22px;
}
#person-slider .arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 80px;
    cursor: pointer;
    background: #d97738;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c96526), color-stop(1, #e98a49));
    background: -ms-linear-gradient(bottom, #c96526, #e98a49);
    background: -moz-linear-gradient(center bottom, #c96526 0%, #e98a49 100%);
    background: -o-linear-gradient(#e98a49, #c96526);
    /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 4;
}
#person-slider .arrow:hover {
    background: #64949b;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #58878e), color-stop(1, #72a2aa));
    background: -ms-linear-gradient(bottom, #58878e, #72a2aa);
    background: -moz-linear-gradient(center bottom, #58878e 0%, #72a2aa 100%);
    background: -o-linear-gradient(#72a2aa, #58878e);
    /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
#person-slider .arrow .icon {
    width: 9px;
    height: 19px;
    display: block;
    position: absolute;
    top: 11px;
    background: url(../img/icons.png) no-repeat;
}
#person-slider .arrow.left {
    left: 0;
}
#person-slider .arrow.left .icon {
    left: 14px;
    background-position: 0 -60px;
}
#person-slider .arrow.right {
    right: 0;
}
#person-slider .arrow.right .icon {
    left: 17px;
    background-position: -11px -60px;
}
#person-slider .fade {
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    background: url(../img/fade-overlay.png) repeat-y;
    z-index: 4;
}
#person-slider .fade.left {
    left: 0;
    background-position: -50px 0;
}
#person-slider .fade.right {
    right: 0;
    background-position: 0 0;
}
#person-slider .container {
    overflow: hidden;
    width: 100%;
    height: 294px;
    position: relative;
}
#person-slider .page {
    width: 934px;
    height: 294px;
    position: absolute;
    overflow: hidden;
}
#person-slider .page.moving {
    position: absolute;
    top: 0 !important;
    left: 0;
}
#person-slider .page.loading {
    width: 100%;
    height: 100%;
    background: url(../img/loader-gray.GIF) center center no-repeat;
}
#person-slider .item {
    width: 208px;
    float: left;
    margin-left: 20px;
}
#person-slider .pic {
    margin-bottom: 40px;
    height: 200px;
    background: url(../img/talent-shadow.png) center bottom no-repeat;
    line-height: 200px;
    text-align: center;
}
#person-slider .pic a {
    display: inline-block;
    vertical-align: bottom;
}
#person-slider .pic img {
    display: block;
    max-width: 208px;
    max-height: 200px;
}
#person-slider .link {
    display: block;
    margin: 0 auto;
    width: 186px;
    border: 1px solid #191919;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}
#person-slider .link .inside {
    display: block;
    border: 1px solid #534f4c;
    overflow: hidden;
    background: #393330;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #433c38), color-stop(1, #322d2a));
    background: -ms-linear-gradient(bottom, #433c38, #322d2a);
    background: -moz-linear-gradient(center bottom, #433c38 0%, #322d2a 100%);
    background: -o-linear-gradient(#322d2a, #433c38);
    /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}
#person-slider .link .inside span {
    display: block;
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
#person-slider .link .inside .name {
    position: relative;
    top: 0;
}
#person-slider .link .inside .who {
    position: absolute;
    padding: 0;
    margin-top: -10px;
    top: -100%;
    left: 0;
}
#person-slider .link:hover .who {
    top: 50%;
}
#person-slider .link:hover .name {
    top: 60px;
}
.footer-hands {
  position: absolute;
  left: 0px;
  bottom: 50px;
  width: 100%;
}
.footer-hands .hands {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 245px;
  height: 116px;
  background: url(../img/magic-hands.png) center bottom no-repeat;
}
.footer-hands a {
  position: absolute;
  bottom: 60px;
  left: 228px;
  text-decoration: underline;
  font-size: 12px;
  line-height: 12px;
}
.footer-hands a:hover {
  text-decoration: none;
}
#pop,
#popbg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#pop {
  z-index: 101;
}
#popbg {
  background: #000;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  z-index: 100;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 101;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 11px;
  width: 14px;
  height: 13px;
  background: url(../img/icons.png) -122px -142px no-repeat;
  cursor: pointer;
}
.popup .close:hover {
  background-position: -138px -142px;
}
.popup .title {
  overflow: hidden;
  padding: 0 0 22px;
  line-height: 18px;
  color: #38616d;
}
.popup .title .shadow {
  height: 18px;
  border-bottom: 1px solid #ede9e8;
  padding: 6px 40px 6px 10px;
  -webkit-box-shadow: 0 0 10px 7px #f9f7f6;
  -moz-box-shadow: 0 0 10px 7px #f9f7f6;
  box-shadow: 0 0 10px 7px #f9f7f6;
}
.popup.visible {
  display: block;
}
.popup .content {
  font-size: 12px;
  position: relative;
  *zoom: 1;
}
.popup .content:before,
.popup .content:after {
  content: " ";
  display: table;
}
.popup .content:after {
  clear: both;
}
.popup.person {
  width: 480px;
  height: 300px;
  margin-left: -240px;
  margin-top: -150px;
  -webkit-box-shadow: 0 -2px 3px 0 #53504e;
  -moz-box-shadow: 0 -2px 3px 0 #53504e;
  box-shadow: 0 -2px 3px 0 #53504e;
  z-index: 102;
}
.popup.person .content {
  padding: 0 14px;
}
.popup.person .pic {
  width: 214px;
  height: 206px;
  margin-right: 22px;
  float: left;
  line-height: 214px;
  text-align: center;
  background: url(../img/talent-shadow.png) center bottom no-repeat;
}
.popup.person .pic img {
  display: inline-block;
  vertical-align: bottom;
  max-height: 100%;
  max-width: 100%;
}
.popup.person .text {
  overflow: hidden;
  font-size: 12px;
}
.popup.person .text p {
  margin: 0;
}
.popup.person .name {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 22px;
  color: #d94635;
}
.popup.person .foot {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 468px;
  height: 19px;
  padding: 4px 6px 6px;
  background: #fbf9f8;
  border-top: 1px solid #ede9e8;
  text-align: right;
}
.popup.person .foot-link {
  color: #38616d;
  text-decoration: none;
}
.popup.person .foot-link:hover {
  text-decoration: underline;
}
.popup.person .foot-link .icon {
  display: inline-block;
  margin-left: 4px;
  height: 10px;
  width: 6px;
  background: url(../img/icons.png) -154px -142px no-repeat;
}
.popup.callback {
  width: 474px;
  min-height: 267px;
  margin-left: -237px;
  margin-top: -134px;
  -webkit-box-shadow: 0 2px 3px 0 #53504e;
  -moz-box-shadow: 0 2px 3px 0 #53504e;
  box-shadow: 0 2px 3px 0 #53504e;
}
.popup.callback .title {
  padding-bottom: 34px;
}
.popup.callback .title .shadow {
  padding: 8px 40px 7px 10px;
}
.popup.callback .content {
  position: static;
  padding: 0 24px;
}
.popup.callback .content.thanks {
  text-align: center;
}
.popup.callback .content.thanks .large {
  display: block;
  margin: 0 0 14px;
  font-size: 22px;
  line-height: 24px;
  color: #d94635;
}
.popup.callback .content.thanks .img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 248px;
  height: 194px;
  background: url(../img/thanks-pop-b.png) left bottom no-repeat;
}
.popup.callback .row {
  margin-bottom: 14px;
  position: relative;
  *zoom: 1;
}
.popup.callback .row:before,
.popup.callback .row:after {
  content: " ";
  display: table;
}
.popup.callback .row:after {
  clear: both;
}
.popup.callback .error-label {
  position: absolute;
  display: block;
  width: 240px;
  left: 100%;
  top: 0;
  padding: 3px 4px 2px;
  border: 1px solid #ede9e8;
  background: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.popup.callback .error-label:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: -7px;
  top: 9px;
  background: url(../img/icons.png) -62px -42px no-repeat;
}
.popup.callback label {
  display: block;
  width: 150px;
  float: left;
  margin-right: 7px;
  padding-top: 4px;
  cursor: pointer;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.popup.callback input[type="text"],
.popup.callback input[type="email"],
.popup.callback input[type="password"],
.popup.callback textarea {
  display: block;
  border: 1px solid #dbdbdb;
  width: 234px;
  height: 19px;
  padding: 2px 10px 3px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.popup.callback input[type="text"].error,
.popup.callback input[type="email"].error,
.popup.callback input[type="password"].error,
.popup.callback textarea.error {
  border-color: #d60500;
}
.popup.callback textarea {
  height: 81px;
  resize: none;
}
.popup.callback button {
  display: block;
  width: 96px;
  height: 32px;
  margin: 18px auto 0;
  padding: 6px 0 7px;
  border: 0;
  font-size: 12px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #d97738;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c96526), color-stop(1, #e98a49));
  background: -ms-linear-gradient(bottom, #c96526, #e98a49);
  background: -moz-linear-gradient(center bottom, #c96526 0%, #e98a49 100%);
  background: -o-linear-gradient(#e98a49, #c96526);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.popup.callback button:hover {
  background: #64949b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #58878e), color-stop(1, #72a2aa));
  background: -ms-linear-gradient(bottom, #58878e, #72a2aa);
  background: -moz-linear-gradient(center bottom, #58878e 0%, #72a2aa 100%);
  background: -o-linear-gradient(#72a2aa, #58878e);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.popup.miracle {
  width: 478px;
  height: 325px;
  margin-left: -239px;
  margin-top: -163px;
  text-align: center;
  background: #ffffff url(../img/miracle-pop-b.jpg) center bottom no-repeat;
  -webkit-box-shadow: 0 2px 3px 0 #53504e;
  -moz-box-shadow: 0 2px 3px 0 #53504e;
  box-shadow: 0 2px 3px 0 #53504e;
}
.popup.miracle .large {
  position: absolute;
  top: 57px;
  left: 0;
  width: 100%;
  display: block;
  font-size: 22px;
  line-height: 24px;
  color: #d94635;
}
.popup.miracle .cancel {
  position: absolute;
  left: 29px;
  top: 143px;
  width: 134px;
}
.popup.miracle .accept {
  position: absolute;
  left: 274px;
  top: 143px;
  width: 150px;
}
.popup.miracle a {
  font-size: 18px;
  line-height: 20px;
}
.popup.miracle s {
  display: block;
  margin-top: 9px;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  text-decoration: none;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.popup.four-o-four {
  width: 480px;
  height: 378px;
  margin: -189px 0 0 -240px;
  -webkit-box-shadow: 0 2px 3px 0 #53504e;
  -moz-box-shadow: 0 2px 3px 0 #53504e;
  box-shadow: 0 2px 3px 0 #53504e;
}
.popup.four-o-four .content {
  margin: 26px;
  text-align: center;
  font-size: 12px;
}
.popup.four-o-four .large {
  margin-bottom: 22px;
  font-size: 22px;
  line-height: 24px;
  color: #d94635;
}
.popup.four-o-four .img {
  display: block;
  margin: 0 auto 14px;
}
.popup.four-o-four p {
  margin: 0;
}
.popup.loading {
  width: 64px;
  height: 64px;
  margin-top: -16px;
  margin-left: -16px;
  background: url(../img/loader-white.GIF) center center no-repeat;
}
#flashback {
  margin: 20px 0 78px;
}
#flashback .dates {
  height: 22px;
  margin: 0 0 10px;
  position: relative;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#flashback .dates span {
  position: absolute;
  top: 0;
  display: block;
  width: 64px;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  padding: 2px 0;
  text-align: center;
  color: #948d87;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#flashback .dates span:hover,
#flashback .dates span.active {
  color: #fff;
  background: #4b818c;
}
#flashback .dates span.first {
  left: -12px;
}
#flashback .dates span.last {
  right: -12px;
}
#flashback .contents {
  overflow: hidden;
}
#flashback .contents .container {
  width: 10000px;
  overflow: hidden;
}
#flashback .contents .item {
  width: 474px;
  margin-right: 30px;
  float: left;
}
#flashback .contents .title {
  display: block;
  margin: -1px 0 18px;
  font-size: 18px;
  line-height: 18px;
  color: #d94635;
}
#flashback .contents .text {
  overflow: hidden;
}
#flashback .contents .pic {
  float: left;
  width: 149px;
  height: 149px;
  margin-right: 31px;
}
#flashback .contents .pic img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
#flashback .contents p {
  margin: 14px 0 0;
}
#flashback .contents p:first-child {
  margin-top: 0;
}
.flash-slider {
  padding: 11px 12px 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 37px;
  -webkit-box-shadow: inset 0 1px 2px 0 #deb3a1;
  -moz-box-shadow: inset 0 1px 2px 0 #deb3a1;
  box-shadow: inset 0 1px 2px 0 #deb3a1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f2e1d9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f2e2da), color-stop(1, #f1dfd7));
  background: -ms-linear-gradient(bottom, #f2e2da, #f1dfd7);
  background: -moz-linear-gradient(center bottom, #f2e2da 0%, #f1dfd7 100%);
  background: -o-linear-gradient(#f1dfd7, #f2e2da);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flash-slider .scale {
  position: relative;
  height: 3px;
  border-bottom: 1px solid #f6eae4;
  background: #ca412f;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d24431), color-stop(1, #bb3d2c));
  background: -ms-linear-gradient(bottom, #d24431, #bb3d2c);
  background: -moz-linear-gradient(center bottom, #d24431 0%, #bb3d2c 100%);
  background: -o-linear-gradient(#bb3d2c, #d24431);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.flash-slider .point {
  position: absolute;
  top: -2px;
  display: block;
  height: 7px;
  width: 7px;
  border-bottom: 1px solid #f6eae4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ca412f;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d24431), color-stop(1, #bb3d2c));
  background: -ms-linear-gradient(bottom, #d24431, #bb3d2c);
  background: -moz-linear-gradient(center bottom, #d24431 0%, #bb3d2c 100%);
  background: -o-linear-gradient(#bb3d2c, #d24431);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.flash-slider .point.first {
  left: 0;
}
.flash-slider .point.last {
  margin-left: 0;
  right: 0;
}
.flash-slider .pointer {
  position: absolute;
  top: -10px;
  left: 0;
  width: 7px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
}
.flash-slider .pointer .round {
  position: absolute;
  top: 0;
  left: -8px;
  width: 23px;
  height: 30px;
  background: url(../img/icons.png) -162px -142px no-repeat;
  cursor: pointer;
}
.flash-slider .pointer:hover .round {
  background-position: -187px -142px;
}
#wanted-slider {
    min-height: 212px;
    padding: 0 20px;
    margin: 22px 0 40px;
    position: relative;
}
#wanted-slider .arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 100px;
    cursor: pointer;
    background: #d97738;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c96526), color-stop(1, #e98a49));
    background: -ms-linear-gradient(bottom, #c96526, #e98a49);
    background: -moz-linear-gradient(center bottom, #c96526 0%, #e98a49 100%);
    background: -o-linear-gradient(#e98a49, #c96526);
    /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 4;
}
#wanted-slider .arrow:hover {
    background: #64949b;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #58878e), color-stop(1, #72a2aa));
    background: -ms-linear-gradient(bottom, #58878e, #72a2aa);
    background: -moz-linear-gradient(center bottom, #58878e 0%, #72a2aa 100%);
    background: -o-linear-gradient(#72a2aa, #58878e);
    /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
#wanted-slider .arrow .icon {
    width: 9px;
    height: 19px;
    display: block;
    position: absolute;
    top: 11px;
    background: url(../img/icons.png) no-repeat;
}
#wanted-slider .arrow.left {
    left: 0;
}
#wanted-slider .arrow.left .icon {
    left: 14px;
    background-position: 0 -60px;
}
#wanted-slider .arrow.right {
    right: 0;
}
#wanted-slider .arrow.right .icon {
    left: 17px;
    background-position: -11px -60px;
}
#wanted-slider .fade {
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    background: url(../img/fade-overlay.png) repeat-y;
    z-index: 4;
}
#wanted-slider .fade.left {
    left: 0px;
    background-position: -50px 0;
}
#wanted-slider .fade.right {
    right: 0px;
    background-position: 0 0;
}
#wanted-slider .container {
    overflow: hidden;
    height: 100%;
    position: relative;
}
#wanted-slider .page {
    width: 100%;
    position: relative;
    overflow: hidden;
}
#wanted-slider .page.moving {
    position: absolute;
    top: 0;
    left: 0;
}
#wanted-slider .page.loading {
    height: 275px;
    background: url(../img/loader-gray.GIF) center center no-repeat;
}
#wanted-slider .item {
    float: left;
    width: 294px;
    margin-right: 28px;
}
#wanted-slider .item:last-child {
    margin: 0;
}
#wanted-slider .pic {
    height: 190px;
    margin-bottom: 30px;
    font-size: 0;
    line-height: 190px;
}
#wanted-slider .pic img {
    display: inline-block;
    vertical-align: bottom;
    max-width: 294px;
    max-height: 190px;
}
#wanted-slider .title {
    margin: 0 0 13px;
    font-size: 22px;
    line-height: 22px;
    color: #d94635;
}
.site-desc h2 {
  margin: 40px 0 23px;
  font-size: 22px;
  line-height: 24px;
  color: #d94635;
  font-weight: normal;
}
.site-desc p {
  margin: 0 0 14px;
}
.site-desc .def {
  margin: 0 0 40px;
  padding: 19px 18px 23px;
  border: 1px solid #999;
  background: #fff;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 10px -2px #e1c4b5;
  -moz-box-shadow: 0 6px 10px -2px #e1c4b5;
  box-shadow: 0 6px 10px -2px #e1c4b5;
}
.site-desc .def table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.site-desc .def td {
  padding: 20px 0 0;
  vertical-align: top;
}
.site-desc .def td:first-child {
  width: 86px;
  padding-right: 6px;
  font-size: 15px;
  font-weight: bold;
}
.site-desc .def td.target {
  color: #436a75;
}
.site-desc .def tr:first-child td {
  padding-top: 0;
}
.site-desc blockquote {
  margin: 14px auto;
  width: 440px;
  padding: 16px 20px;
  border: 0;
  background: #e1eff1;
  color: #436a75;
}
.site-desc blockquote.quoted {
  position: relative;
}
.site-desc blockquote.quoted:before {
  content: '';
  display: block;
  width: 30px;
  height: 26px;
  position: absolute;
  top: -1px;
  left: -35px;
  background: url(../img/icons.png) 0 -183px no-repeat;
}
.site-desc blockquote.quoted:after {
  content: '';
  display: block;
  width: 30px;
  height: 26px;
  position: absolute;
  bottom: -1px;
  right: -35px;
  background: url(../img/icons.png) -32px -183px no-repeat;
}
.site-desc blockquote.white {
  background: transparent;
  margin: 0 0 6px;
  width: 480px;
  padding: 0 0 0 68px;
  font-style: italic;
  font-size: 16px;
  line-height: 21px;
  position: relative;
}
.site-desc blockquote.white:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  display: block;
  width: 29px;
  height: 25px;
  background: url(../img/icons.png) -72px -142px no-repeat;
}
.site-desc blockquote p {
  margin: 0;
}
.site-desc .gallery {
  margin-bottom: 20px;
  line-height: 0;
  font-size: 0;
  text-align: center;
}
.site-desc .gallery img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.site-desc .gallery .item {
  display: inline-block;
  margin: 24px 31px 0;
  vertical-align: middle;
}
.site-desc .gallery .item.large {
  margin: 24px auto 0;
}
.site-desc .gallery .item > span {
  display: block;
  margin-top: 5px;
  font-size: 11px;
  line-height: 19px;
  color: #99918c;
  text-align: center;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.site-desc .num-gallery {
  margin: 30px 0 0 -2px;
  overflow: hidden;
}
.site-desc .num-gallery .item {
  display: block;
  float: left;
  height: 176px;
  width: 266px;
  padding: 0 16px 0 20px;
  margin-bottom: 14px;
  margin-left: 2px;
  position: relative;
}
.site-desc .num-gallery .num {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 18px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.site-desc .num-gallery img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
.site-desc address {
  margin-top: 40px;
  font-style: normal;
  color: #436a75;
}
.site-desc address a {
  color: #436a75;
}
.site-desc address .icon-link {
  margin-top: 11px;
}
.site-desc address .icon-link:first-child {
  margin-top: 0;
}
.site-desc address .show-review {
  display: inline-block;
  line-height: 14px;
  border-bottom: 1px dashed #436a75;
  cursor: pointer;
}
.site-desc address .show-review:hover {
  border-bottom-color: transparent;
}
.person-desc h2 {
  margin: 0 0 29px;
  font-size: 22px;
  line-height: 22px;
  font-weight: normal;
  color: #d94635;
}
.person-desc .socials {
  padding: 0;
  margin: 0 0 28px;
}
.person-desc .socials .items {
  padding: 0;
  background: none;
}
.person-head {
  margin-bottom: 41px;
  width: 610px;
  overflow: hidden;
}
.person-head .thumb {
  float: left;
  width: 290px;
  margin-right: 24px;
  background: url(../img/per-thumb-shadow.png) center bottom no-repeat;
}
.person-head .thumb img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.person-head .text {
  float: left;
  width: 296px;
  padding-top: 23px;
  line-height: 21px;
}
.person-head blockquote {
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 21px;
  color: #436a75;
  font-style: italic;
  position: relative;
}
.person-head blockquote:before {
  content: "";
  position: absolute;
  left: -44px;
  top: 2px;
  display: block;
  width: 29px;
  height: 25px;
  background: url(../img/icons.png) -72px -142px no-repeat;
}
.person-head p {
  margin: 0;
}
#person-articles {
  margin-bottom: 28px;
  width: 582px;
}
#person-articles p {
  margin: 0;
}
#person-articles .items {
  overflow: hidden;
  position: relative;
}
#person-articles .items.loading {
  background: url(../img/loader-gray.GIF) center center no-repeat;
}
#person-articles .item {
  margin-bottom: 29px;
}
#person-articles .page {
  width: 100%;
}
#person-articles .page.moving {
  position: absolute;
  top: 0;
  left: 0;
}
#person-articles .link {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 18px;
}
#person-articles .person-pager {
  margin-top: 19px;
}
.sd-slider {
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
.sd-slider .arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  z-index: 4;
  cursor: pointer;
  background: #64949b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #58878e), color-stop(1, #72a2aa));
  background: -ms-linear-gradient(bottom, #58878e, #72a2aa);
  background: -moz-linear-gradient(center bottom, #58878e 0%, #72a2aa 100%);
  background: -o-linear-gradient(#72a2aa, #58878e);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.sd-slider .arrow:hover {
  background: #d97738;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c96526), color-stop(1, #e98a49));
  background: -ms-linear-gradient(bottom, #c96526, #e98a49);
  background: -moz-linear-gradient(center bottom, #c96526 0%, #e98a49 100%);
  background: -o-linear-gradient(#e98a49, #c96526);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.sd-slider .arrow .icon {
  width: 9px;
  height: 19px;
  display: block;
  position: absolute;
  top: 11px;
  background: url(../img/icons.png) no-repeat;
}
.sd-slider .arrow.left {
  right: 153px;
}
.sd-slider .arrow.left .icon {
  left: 14px;
  background-position: 0 -60px;
}
.sd-slider .arrow.right {
  right: 8px;
}
.sd-slider .arrow.right .icon {
  right: 13px;
  background-position: -11px -60px;
}
.sd-slider .arrow:active {
  background: #d17037;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e98a49), color-stop(1, #c96526));
  background: -ms-linear-gradient(bottom, #e98a49, #c96526);
  background: -moz-linear-gradient(center bottom, #e98a49 0%, #c96526 100%);
  background: -o-linear-gradient(#c96526, #e98a49);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.sd-slider .pages {
  position: absolute;
  top: 10px;
  right: 47px;
  width: 104px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.sd-slider .pages .all {
  display: inline-block;
  margin-left: 6px;
}
.sd-slider .pages .cur {
  display: inline-block;
  margin-right: 6px;
}
.sd-slider .img {
  float: left;
  width: 394px;
  margin-right: 18px;
}
.sd-slider .img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.sd-slider .text {
  overflow: hidden;
  padding-top: 81px;
}
.sd-slider .slide {
  overflow: hidden;
}
.sd-slider p {
  margin: 19px 0 0;
}
.sd-slider p:first-child {
  margin: 0;
}
.sd-review {
  margin: 0 0 32px;
  padding: 24px 20px;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 10px -2px #e0c2b2;
  -moz-box-shadow: 0 6px 10px -2px #e0c2b2;
  box-shadow: 0 6px 10px -2px #e0c2b2;
}
.sd-review h2 {
  margin: 0 0 20px;
}
.sd-review .name {
  text-align: right;
  font-size: 12px;
  line-height: 14px;
  color: #888;
}
.sd-review .name b {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #d94635;
}
.sd-review .name b:before {
  content: '- ';
}
.tabs {
  margin-bottom: 40px;
}
.tabs .labels {
  margin: 0 0 -4px;
  width: 646px;
  overflow: hidden;
}
.tabs .label {
  position: relative;
  display: block;
  padding: 11px 36px 13px 38px;
  margin-left: 2px;
  width: 140px;
  height: 19px;
  float: left;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  background: #8e8e8e;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #656565), color-stop(1, #999999));
  background: -ms-linear-gradient(bottom, #656565, #999999);
  background: -moz-linear-gradient(center bottom, #656565 0%, #999999 100%);
  background: -o-linear-gradient(#999999, #656565);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.tabs .label:hover {
  background: #676767;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #999999), color-stop(1, #656565));
  background: -ms-linear-gradient(bottom, #999999, #656565);
  background: -moz-linear-gradient(center bottom, #999999 0%, #656565 100%);
  background: -o-linear-gradient(#656565, #999999);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.tabs .label:first-child {
  margin-left: 0;
}
.tabs .label .num {
  position: absolute;
  left: 10px;
  top: 7px;
  width: 22px;
  height: 22px;
  padding: 2px;
  background: #fff;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.tabs .label .num > div {
  display: block;
  padding: 0 0 1px;
  height: 21px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #77706c;
  background: #fff;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.tabs .label.active {
  background: #fff;
  color: #625a55;
  -webkit-box-shadow: inset 0 10px 8px -4px #faf5f2;
  -moz-box-shadow: inset 0 10px 8px -4px #faf5f2;
  box-shadow: inset 0 10px 8px -4px #faf5f2;
}
.tabs .label.active .num {
  color: #77706c;
  background: #8e8e8e;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #656565), color-stop(1, #999999));
  background: -ms-linear-gradient(bottom, #656565, #999999);
  background: -moz-linear-gradient(center bottom, #656565 0%, #999999 100%);
  background: -o-linear-gradient(#999999, #656565);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.tabs .tab-content {
  position: relative;
  padding: 28px 20px;
  background: #fff;
  z-index: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 10px -2px #e0c2b2;
  -moz-box-shadow: 0 6px 10px -2px #e0c2b2;
  box-shadow: 0 6px 10px -2px #e0c2b2;
}
#four-o-four {
  position: absolute;
  top: 109px;
  bottom: 50px;
  width: 100%;
}
#four-o-four .wrap {
  height: 100%;
  padding-left: 114px;
  width: 864px;
}
#four-o-four .content {
  position: absolute;
  top: 50%;
  left: 318px;
  margin-top: -140px;
  width: 456px;
  height: 280px;
  text-align: center;
}
#four-o-four .image {
  width: 308px;
  height: 186px;
  margin: 0 auto 55px;
  background: url(../img/404-image.png) left top no-repeat;
}
#four-o-four p {
  margin: 0;
}
#clients-gloss {
  margin-bottom: 19px;
  margin-top: 46px;
}
#clients-gloss .col {
  width: 172px;
  float: left;
  margin-left: 170px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#clients-gloss .col:first-child {
  margin-left: 0;
}
#clients-gloss .items {
  min-height: 190px;
  overflow: hidden;
}
#clients-gloss .items .item {
  margin-bottom: 17px;
}
#clients-gloss .items .title {
  font-size: 18px;
  line-height: 21px;
}
#clients-gloss .items p {
  margin: 0;
}
#clients-gloss .items.loading {
  background: url(../img/loader-gray.GIF) center center no-repeat;
  height: 200px;
}
#clients-gloss .items.loading .col {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.cg-menu {
  max-width: 100%;
  margin-bottom: 49px;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.cg-menu td {
  width: 27px;
  padding: 0 0 0 2px;
  vertical-align: top;
  text-align: center;
}
.cg-menu td.lang {
  width: auto;
  padding: 5px 10px 0 0;
  text-align: left;
}
.cg-menu td.hidden {
  display: none;
}
.cg-menu td > a {
  display: block;
  padding: 4px 0;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #d87737;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c96526), color-stop(1, #e98a49));
  background: -ms-linear-gradient(bottom, #c96526, #e98a49);
  background: -moz-linear-gradient(center bottom, #c96526 0%, #e98a49 100%);
  background: -o-linear-gradient(#e98a49, #c96526);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.cg-menu td > a:hover,
.cg-menu td > a.current {
  background: #66959d;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #58878e), color-stop(1, #72a2aa));
  background: -ms-linear-gradient(bottom, #58878e, #72a2aa);
  background: -moz-linear-gradient(center bottom, #58878e 0%, #72a2aa 100%);
  background: -o-linear-gradient(#72a2aa, #58878e);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.cg-menu td > a.current {
  cursor: default;
}
.cg-menu td > a.empty {
  background: #f1d6c5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eed2c1), color-stop(1, #f4d9c8));
  background: -ms-linear-gradient(bottom, #eed2c1, #f4d9c8);
  background: -moz-linear-gradient(center bottom, #eed2c1 0%, #f4d9c8 100%);
  background: -o-linear-gradient(#f4d9c8, #eed2c1);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.cg-menu .lang {
  position: relative;
}
.cg-menu .lang .current-lang {
  display: inline-block;
  padding: 0;
  background: none;
  border-bottom: 1px dashed #436a75;
  color: #436a75;
  font-size: 0;
  line-height: 16px;
  vertical-align: top;
  text-transform: none;
}
.cg-menu .lang .current-lang:hover {
  border-bottom-color: transparent;
}
.cg-menu .lang .text {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}
.cg-menu .lang .arr {
  display: inline-block;
  margin-left: 6px;
  width: 7px;
  height: 16px;
  background: url(../img/icons.png) -32px -52px no-repeat;
  vertical-align: top;
}
.cg-menu .list {
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 17px;
  overflow: hidden;
}
.cg-menu .list li {
  padding: 0;
  margin-top: 2px;
}
.cg-menu .list li:first-child {
  margin-top: 0;
}
.cg-menu .lang.opened {
  border-bottom-color: transparent;
}
.cg-menu .lang.opened .list {
  display: block;
}
.cg-menu .lang.opened .arr {
  background-position: -41px -52px;
}
#roller-slider {
  padding: 0 22px;
  margin: 42px 0 70px;
  position: relative;
}
#roller-slider .container {
  width: 934px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}
#roller-slider .arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 124px;
  cursor: pointer;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: #d97738;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c96526), color-stop(1, #e98a49));
  background: -ms-linear-gradient(bottom, #c96526, #e98a49);
  background: -moz-linear-gradient(center bottom, #c96526 0%, #e98a49 100%);
  background: -o-linear-gradient(#e98a49, #c96526);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 4;
}
#roller-slider .arrow:hover {
  background: #64949b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #58878e), color-stop(1, #72a2aa));
  background: -ms-linear-gradient(bottom, #58878e, #72a2aa);
  background: -moz-linear-gradient(center bottom, #58878e 0%, #72a2aa 100%);
  background: -o-linear-gradient(#72a2aa, #58878e);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
#roller-slider .arrow .icon {
  width: 9px;
  height: 19px;
  display: block;
  position: absolute;
  top: 11px;
  background: url(../img/icons.png) no-repeat;
}
#roller-slider .arrow.left {
  left: 2px;
}
#roller-slider .arrow.left .icon {
  left: 14px;
  background-position: 0 -60px;
}
#roller-slider .arrow.right {
  right: 2px;
}
#roller-slider .arrow.right .icon {
  left: 17px;
  background-position: -11px -60px;
}
#roller-slider:hover .arrow {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
#roller-slider .item {
  visibility: hidden;
  position: absolute;
  top: 65px;
  left: 373px;
  width: 100px;
  height: 130px;
  padding: 20px 22px 10px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0 4px 6px -2px #e0c3b3;
  -moz-box-shadow: 0 4px 6px -2px #e0c3b3;
  box-shadow: 0 4px 6px -2px #e0c3b3;
}
#roller-slider .item .preview {
  display: block;
  float: left;
  max-width: 36%;
  margin: 0 14px 0 0;
}
#roller-slider .item .title {
  margin-bottom: 1.2em;
  font-size: 1.3em;
  line-height: 1.2em;
  color: #3d6970;
  text-transform: uppercase;
}
#roller-slider .item .text {
  position: relative;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 14px;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}
#roller-slider .item .readmore {
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #d97738;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c96526), color-stop(1, #e98a49));
  background: -ms-linear-gradient(bottom, #c96526, #e98a49);
  background: -moz-linear-gradient(center bottom, #c96526 0%, #e98a49 100%);
  background: -o-linear-gradient(#e98a49, #c96526);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
  font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#roller-slider .item .readmore:hover {
  background: #64949b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #58878e), color-stop(1, #72a2aa));
  background: -ms-linear-gradient(bottom, #58878e, #72a2aa);
  background: -moz-linear-gradient(center bottom, #58878e 0%, #72a2aa 100%);
  background: -o-linear-gradient(#72a2aa, #58878e);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
#roller-slider .item.moving .text {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
#roller-slider .item.center {
  visibility: visible;
  left: 227px;
  top: 0;
  width: 420px;
  height: 240px;
  padding: 30px 30px 60px;
  background-color: #fffffe;
  z-index: 3;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#roller-slider .item.center .text {
  font-size: 14px;
  line-height: 16px;
}
#roller-slider .item.center .readmore {
  visibility: visible;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
#roller-slider .item.left,
#roller-slider .item.right {
  visibility: visible;
  width: 180px;
  height: 170px;
  background-color: #f3e2da;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#roller-slider .item.left {
  left: 0;
  padding-left: 26px;
}
#roller-slider .item.right {
  left: 706px;
  padding-right: 26px;
}
.company-desc .icon-link {
  margin-bottom: 19px;
}
.company-desc p + .icon-link {
  margin-top: -7px;
}
.company-desc .tasks {
  margin: 36px 0 30px;
}
.company-desc .tasks ul {
  margin: 10px 0 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
.company-desc .tasks li {
  padding: 0 12px 0 0;
  margin: 6px 0 0;
  position: relative;
}
.company-desc .tasks li:first-child {
  margin-top: 0;
}
.company-desc .tasks .icon {
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 0 4px;
  height: 10px;
  width: 6px;
  background: url(../img/icons.png) -154px -142px no-repeat;
}
.company-desc .tasks a {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #436a75;
  text-decoration: none;
}
.company-desc .tasks a:hover {
  text-decoration: underline;
}
.company-desc .sd-review {
  margin-top: 38px;
  padding: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.company-desc .sd-review h2 {
  color: #d94635;
}
.company-desc .sd-review blockquote {
  width: 562px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 21px;
  color: #436a75;
  font-style: italic;
  position: relative;
}
.company-desc .sd-review blockquote:before {
  content: "";
  position: absolute;
  left: -44px;
  top: 2px;
  display: block;
  width: 29px;
  height: 25px;
  background: url(../img/icons.png) -72px -142px no-repeat;
}
.tech-list {
  margin: 50px 0 16px -18px;
  overflow: hidden0;
  font-size: 0;
}
.tech-list .item {
  display: inline-block;
  margin: 0 0 24px 18px;
  width: 148px;
  font-size: 12px;
  vertical-align: top;
}
.tech-list .img {
  display: block;
  margin-bottom: 18px;
  padding: 10px;
  height: 114px;
  background: #fff;
  line-height: 114px;
  text-align: center;
  -webkit-box-shadow: 0 2px 2px -1px #e0c2b2;
  -moz-box-shadow: 0 2px 2px -1px #e0c2b2;
  box-shadow: 0 2px 2px -1px #e0c2b2;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.tech-list .img img {
  display: inline-block;
  max-height: 114px;
  max-width: 128px;
  vertical-align: middle;
}
.tech-list a {
  color: #625a55;
  text-decoration: none;
}
.tech-list a:hover {
  text-decoration: underline;
}
.blog-menu {
  margin-bottom: 52px;
  overflow: hidden;
  font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  z-index: 2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.blog-menu table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
  background: #ca3a2a;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c53526), color-stop(1, #d24a39));
  background: -ms-linear-gradient(bottom, #c53526, #d24a39);
  background: -moz-linear-gradient(center bottom, #c53526 0%, #d24a39 100%);
  background: -o-linear-gradient(#d24a39, #c53526);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
.blog-menu td {
  padding: 0;
}
.blog-menu a {
  display: block;
  padding: 14px 0;
  border-top: 1px solid #de7b6f;
  border-left: 1px solid #d13b2b;
  border-right: 1px solid #bb3728;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px 0 #75170e;
}
.blog-menu a:hover {
  border-color-left: transparent;
  border-color-right: transparent;
  background: #ca3a2a;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #f64a36 0%, #ca3a2a 60%);
  background: -webkit-gradient(radial, center center, 0%, center center, 60%, color-stop(0%, #f64a36), color-stop(60%, #ca3a2a));
  background: -webkit-radial-gradient(center, ellipse cover, #f64a36 0%, #ca3a2a 60%);
  background: -o-radial-gradient(center, ellipse cover, #f64a36 0%, #ca3a2a 60%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #f64a36 0%, #ca3a2a 60%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #f64a36 0%, #ca3a2a 60%);
  /* W3C */
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient( startColorstr='%d', endColorstr='%d',GradientType=1)",@start,@stop));*/
}
.blog-menu a:active {
  border-top-color: #913d33;
  background: #a22618;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b42b1c), color-stop(1, #68150e));
  background: -ms-linear-gradient(bottom, #b42b1c, #68150e);
  background: -moz-linear-gradient(center bottom, #b42b1c 0%, #68150e 100%);
  background: -o-linear-gradient(#68150e, #b42b1c);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
#blog-list {
  margin-bottom: 40px;
}
#blog-list .items {
  position: relative;
  margin-left: -28px;
  font-size: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#blog-list .page {
  display: none;
  width: 100%;
  *zoom: 1;
}
#blog-list .page:before,
#blog-list .page:after {
  content: " ";
  display: table;
}
#blog-list .page:after {
  clear: both;
}
#blog-list .page.current {
  display: block;
}
#blog-list .page.loading {
  height: 100%;
  min-height: 160px;
  background: url(../img/loader-gray.GIF) center center no-repeat;
}
#blog-list .item {
  float: left;
  margin: 0 0 40px 38px;
  width: 292px;
  border: 1px solid #c89d8a;
  overflow: hidden;
  vertical-align: top;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 6px 10px #d7bead;
  -moz-box-shadow: 0 6px 10px #d7bead;
  box-shadow: 0 6px 10px #d7bead;
}
#blog-list .pic {
  width: 274px;
  height: 274px;
  padding: 9px 9px 11px;
  border-bottom: 1px solid #ede9e8;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #e7dcd6));
  background: -ms-linear-gradient(bottom, #ffffff, #e7dcd6);
  background: -moz-linear-gradient(center bottom, #ffffff 0%, #e7dcd6 100%);
  background: -o-linear-gradient(#e7dcd6, #ffffff);
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));*/
}
#blog-list .pic img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
#blog-list .text-info {
  padding: 7px 9px 10px;
  height: 66px;
  *zoom: 1;
}
#blog-list .text-info:before,
#blog-list .text-info:after {
  content: " ";
  display: table;
}
#blog-list .text-info:after {
  clear: both;
}
#blog-list .ava {
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#blog-list .ava img {
  display: block;
  max-width: 100%;
}
#blog-list .text {
  height: 51px;
  overflow: hidden;
  background: url(../img/blog-sl-txt-bg.png) left top;
  font-size: 16px;
  line-height: 17px;
}
#blog-list .text a {
  text-decoration: none;
}
#blog-list .text a:hover {
  text-decoration: underline;
}
#blog-list .text .link {
  display: inline-block;
  max-height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #436a75;
  vertical-align: top;
  font-weight: bold;
  font-style: italic;
}
#blog-list .text .name {
  text-align: right;
  font-size: 12px;
  color: #625a55;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
#blog-list .text .name:before {
  content: "- ";
}
.blog-slider {
  padding: 21px 20px 7px;
  background: #eddbd2;
  -webkit-box-shadow: inset 0 1px 2px -1px #c5a495;
  -moz-box-shadow: inset 0 1px 2px -1px #c5a495;
  box-shadow: inset 0 1px 2px -1px #c5a495;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.blog-slider .scale {
  height: 3px;
  margin-bottom: 12px;
  background: #625a55;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.blog-slider .pointer {
  position: absolute;
  top: -7px;
  left: 0;
  width: 5px;
  height: 20px;
  cursor: pointer;
}
.blog-slider .pointer .round {
  position: absolute;
  top: 0;
  left: -7px;
  width: 19px;
  height: 20px;
  background: url(../img/icons.png) -90px -172px no-repeat;
}
.blog-slider .pointer .round:hover {
  background-position: -111px -172px;
}
.blog-slider .pointer .round:active {
  background-position: -132px -172px;
}
.blog-slider .numbers {
  padding: 0 0 0 7px;
  height: 16px;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: #625a55;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.blog-slider a {
  color: #625a55;
  text-decoration: none;
  cursor: pointer;
}
.blog-slider a:hover {
  text-decoration: underline;
}
.blog-slider .num {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}
.blog-slider .num.last {
  left: auto;
  right: 0;
  text-align: right;
}
.blog-slider .num.active a {
  color: #c93929;
  text-decoration: none;
  cursor: default;
}
.lt-ie9 #blog-slider .item {
  display: inline;
  zoom: 1;
}
