@import "elements";
@import "animation";
.myriad(){
  font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
.georgia(){
  font-family: Georgia, Times, "Times New Roman", serif;
}
.tahoma(){
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.trebuchet(){
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.arial(){
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.times(){
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
html,
body {
  height: 100%;
}
body{
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  .georgia();
  color: #625a55;
  background: #f7ede8;
  &.popshown{
    overflow: hidden;
  }
}
img{
  border: 0;
}
h1{
  font-size: 22px;
  line-height: 22px;
  font-weight: normal;
  margin: 0 0 4px;
  color: #d94635;
}
p{
  margin: 0 0 19px;
}
blockquote{
  border: 0;
  margin: 0;
}
ul{
  margin: 19px 0;
  padding-left: 18px;
}
a{
  color: #4b818c;
  cursor: pointer;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 -50px;
  position: relative;
}
#push{
  height: 50px;
}
#footer {
  background-color: #f5f5f5;
}
.clearfix{
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.wrap{
  width: 978px;
  margin: 0 auto;
  position: relative;
}
textarea {
  resize: vertical;
}
#header{
  height: 109px;
  .wrap{
    height: 100%;
  }
  .logo-light{
    position: absolute;
    left: -58px;
    top: 0;
    height: 147px;
    width: 370px;
    background: url(../img/logo-light.png) no-repeat;
    z-index: 1;
  }
  .logo{
    display: block;
    width: 257px;
    height: 58px;
    position: absolute;
    top: 41px;
    left: 0;
    background: url(../img/logo.png) no-repeat;
    z-index: 2;
  }
  nav{
    position: absolute;
    right: 0;
    top: 49px;
    width: 646px;
    overflow: hidden;
    .myriad();
    z-index: 2;
    .rounded();
    .box-shadow(0 1px 1px 1px rgba(0, 0, 0, 0.2));
    table{
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      border: 0;
      .gradient(#518793, #497b88, #59939e);
    }
    td{
      padding: 0;
    }
    a{
      display: block;
      padding: 14px 0;
      border-left: 1px solid #558e9a;
      border-right: 1px solid #4c7f89;
      font-size: 12px;
      line-height: 14px;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      &:hover{
        border-color: transparent;
        padding: 14px 0;
        .gradient(#5f97a1, #4b818e, #75afb6);
      }
    }
  }
}
#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  .gradient(#352f2b, #2d2825, #3d3631);
  z-index: 10;
  .wrap{
    padding-top: 10px;
  }
  .left{
    float: left;
    margin-right: 20px;
  }
  .right{
    float: right;
    margin-left: 20px;
  }
  .phone{
    display: block;
    padding-top: 7px;
    color: #fff;
    text-shadow: 0 -1px 0px #000;
    font-size: 18px;
    line-height: 18px;
    .trebuchet();
  }
  .link{
    display: block;
    padding: 6px 7px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #57504c transparent #484440;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0px #000;
    .rounded();
    .myriad();
    .box-shadow(0 0 1px 1px #2f2a26);
    .gradient(#352f2b, #2f2a26, #3e3833);
    &:hover{
      border-color: #423D3B transparent #3C3936;
      background: #352f2b;
    }
    &:active{
      border-top-color: transparent;
      border-bottom-color: #423d3a;
      .box-shadow(inset 0 2px 6px -2px #000);
      .gradient(#352f2b, #362f2c, #322c28);
    }
  }
}
.icon-link{
  .icon{
    display: inline-block;
    margin: 0 9px 0 0;
    width: 16px;
    height: 16px;
    background: url(../img/icons.png) no-repeat;
    vertical-align: bottom;
    &.earth{
      background-position: -72px -172px;
    }
    &.cloud{
      background-position: -72px -190px;
    }
  }
}
.kremlin{
  position: fixed;
  right: 0;
  bottom: 50px;
  width: 100%;
  z-index: 2;
  a{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    padding: 87px 0 0;
    width: 188px;
    height: 18px;
    background: url(../img/icons.png) -72px 0 no-repeat;
  }
  span{
    display: block;
    margin: 0 auto;
    width: 144px;
    height: 15px;
    background: url(../img/icons.png) -72px -108px no-repeat;
  }
  &:hover{
    span{
      background-position: -72px -125px;
    }
  }
}
.main-page-filler{
  height: 360px;
}
#main-page{
  position: absolute;
  top: 109px;
  bottom: 50px;
  width: 100%;
  .wrap{
    height: 100%;
  }
  .quote{
    position: absolute;
    top: 34%;
    right: 0;
    width: 310px;
    color: #625a55;
    font-size: 18px;
    line-height: 34px;
    text-align: right;
    z-index: 2;
    p{
      margin: 0;
      min-height: 68px;
    }
    .name{
      font-size: 16px;
      line-height: 16px;
      color: #d94635;
      &:before{
        content: "- ";
      }
    }
    .prof{
      font-size: 12px;
      line-height: 14px;
      color: #8e8e8e;
    }
    .icon{
      display: inline-block;
      vertical-align: top;
    }
  }
  .person{
    position: absolute;
    bottom: 0;
    height: 100%;
    right: 100px;
    width: 600px;
    max-height: 800px;
    text-align: center;
    img{
      display: block;
      margin: 0 auto;
      vertical-align: top;
      height: 100%;
    }
  }
}
#cms-slider{
  position: absolute;
  top: 20%;
  left: 0;
  background: #fff;
  width: 337px;
  padding: 24px 30px 15px;
  margin-bottom: 7px;
  .rounded();
  .box-shadow(0 4px 10px #bd8263);
  z-index: 2;
  .title{
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #436a75;
    b{
      display: block;
      margin-top: 4px;
      font-size: 22px;
      line-height: 22px;
      color: #d94635;
      font-weight: normal;
    }
  }
  .items{
    position: relative;
    width: 337px;
    height: 83px;
    margin: 0 auto 7px;
    padding: 16px 0 0;
    background: url(../img/cms-slide-back.jpg) center center no-repeat;
    overflow: hidden;
  }
  .container{
    width: 10000px;
    position: relative;
  }
  .item{
    width: 92px;
    padding: 0 10px;
    float: left;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #99918c;
    cursor: pointer;
    .opacity();
    .transition(0.2s);
    &.active, &:hover{
      .opacity(1);
    }
    .icon{
      display: block;
      width: 50px;
      height: 42px;
      padding: 8px 0 0;
      margin: 0 auto 6px;
      .rounded(6px);
      .gradient(#9eccd0, #6cb3b8, #c3e0e2);
      span{
        display: block;
        width: 50px;
        height: 34px;
        background: url(../img/cms-slider-icons.png) 0 0 no-repeat;
        &.cart{
          background-position: 0 0;
        }
        &.people{
          background-position: -50px 0;
        }
        &.tv{
          background-position: -100px 0;
        }
      }
    }
    .hiddentext{
      display: none;
    }
  }
  .arrow{
    position: absolute;
    top: 108px;
    display: block;
    width: 35px;
    height: 40px;
    background: url(../img/icons.png) no-repeat;
    cursor: pointer;
    z-index: 2;
    .user-select();
    span{
      position: absolute;
      top: 11px;
      display: block;
      width: 8px;
      height: 16px;
      background: url(../img/icons.png) no-repeat;
      .opacity(0.55);
      .transition();
    }
    &:hover{
      span{
        .opacity(1);
      }
    }
    &.left{
      left: 14px;
      background-position: 0 0;
      span{
        left: 11px;
        background-position: 0 -42px;
      }
    }
    &.right{
      right: 14px;
      background-position: -37px 0;
      span{
        right: 11px;
        background-position: -10px -42px;
      }
    }
  }
  .text{
    position: relative;
    padding: 14px 8px 13px;
    font-size: 12px;
    line-height: 16px;
    color: #232323;
    text-align: center;
    .rounded();
    .gradient(#deedef, #d8eaec, #e5f1f3);
    &:before{
      content: "";
      width: 16px;
      height: 10px;
      position: absolute;
      top: -8px;
      left: 168px;
      margin-left: -7px;
      background: url(../img/icons.png) -37px -42px no-repeat;
    }
  }
}
/* Стили для текстовых иконок */
.icon{
  background: url(../img/icons.png) no-repeat;
  &.heart{
    width: 37px;
    height: 33px;
    background-position: 0 -84px;
  }
}
/* Контент с отступом справа */
.content-right{
  padding-left: 332px;
}
.content-left{
  float: left;
  width: 250px;
  padding-top: 1px;
  text-align: right;
  .link, .b-link{
    display: inline-block;
    width: 178px;
    height: 12px;
    padding: 10px 6px;
    text-align: center;
    .gradient(#da7939, #c96526, #e98a49);
    .myriad();
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
    position: relative;
    .rounded(2px);
    &:hover{
      .gradient(#64949b, #58878e, #72a2aa);
    }
  }
  .b-link{
    width: 194px;
    .rounded(0 2px 2px 0);
    &:before{
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "";
      width: 12px;
      height: 32px;
      background: url(../img/icons.png) -248px -140px no-repeat;
    }
  }
  .banner{
    display: block;
    padding: 10px;
    height: 140px;
    line-height: 138px;
    text-align: center;
    background: #fff;
    .box-shadow(0 4px 6px 0 #e0c2b2);
    img{
      display: inline-block;
      max-width: 100%;
      max-height: 140;
      vertical-align: middle;
    }
  }
  &.wide{
    width: 270px;
    position: relative;
    .b-link{
      position: absolute;
      top: -20px;
      right: 0;
      z-index: 2;
    }
  }
}
.left-block{
  overflow: hidden;
  margin: 0 0 38px;
  background: #fff;
  .rounded(4px);
  .box-shadow(0 6px 10px -2px #e0c2b2);
  .title{
    padding: 15px 20px;
    border-bottom: 1px solid #ede9e8;
    color: #436a75;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }
  .content{
    border-top: 1px solid #fff;
    .box-shadow(inset 0 32px 16px -16px #f9f7f6);
  }
}
.team-left{
  padding: 19px 20px;
  table{
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
  }
  td{
    padding: 28px 0 0;
    vertical-align: top;
    text-align: left;
    &.pic{
      width: 60px;
      padding-top: 20px;
      padding-right: 20px;
    }
  }
  tr:first-child{
    .pic{
      padding-top: 0px;
    }
    td{
      padding-top: 8px;
    }
  }
  .pic-link{
    display: block;
    padding: 5px;
    width: 50px;
    background: #f6eeea;
    .rounded();
    .box-shadow(inset 0 4px 4px -4px #e4d0c5);
    img{
      display: block;
      margin: 0 auto;
      max-width: 100%;
      .box-shadow(0 3px 2px -2px #e5d1c6);
    }
  }
  a{
    color: #436a75;
  }
  dl, dt, dd{
    display: block;
    padding: 0;
    margin: 0;
  }
}
.tech-left{
  padding-bottom: 20px;
  margin-left: -4px;
  position: relative;
  .clearfix();
  .item{
    width: 100px;
    height: 60px;
    float: left;
    margin-left: 26px;
    margin-top: 14px;
    text-align: center;
    line-height: 60px;
    &>a{
      display: inline-block;
      vertical-align: middle;
    }
    img{
      display: block;
      max-width: 100px;
      max-height: 60px;
    }
  }
  dl, dt, dd{
    display: none;
  }
}
.hint{
  position: fixed;
  display: none;
  width: 275px;
  padding: 14px 16px;
  background: #fff;
  border: 1px solid #e8e8e8;
  .rounded(6px);
  .box-shadow(0 4px 4px -2px #b6afab);
  dl, dt, dd{
    margin: 0;
    padding: 0;
  }
  dt{
    margin-bottom: 5px;
    color: #436a75;
    .times();
  }
  dd{
    font-size: 12px;
    .tahoma();
  }
}
.breadcrumbs{
  height: 13px;
  margin-bottom: 26px;
  .tahoma();
  font-size: 11px;
  line-height: 13px;
  color: #4b818c;
  text-transform: lowercase;
  a{
    color: #4b818c;
  }
  span, a{
    display: inline-block;
    margin-right: 7px;
    vertical-align: top;
  }
}
.page-title{
  margin-bottom: 33px;
  .clearfix;
  .subtitle{
    color: #99918c;
  }
}
#sites-slider{
  min-height: 212px;
  margin: 49px 0 20px;
  padding: 0 4px;
  position: relative;
  .item{
    display: block;
    width: 234px;
    float: left;
    margin-left: 67px;
    font-size: 12px;
    line-height: 12px;
    color: #9f9792;
    .title{
      font-size: 14px;
      line-height: 14px;
      color: #436a75;
    }
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .arrow{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 86px;
    .gradient(#d97738, #c96526, #e98a49);
    .rounded(20px);
    .user-select();
    z-index: 4;
    &:hover{
      .gradient(#64949b, #58878e, #72a2aa);
    }
    .icon{
      width: 9px;
      height: 19px;
      display: block;
      position: absolute;
      top: 11px;
      background: url(../img/icons.png) no-repeat;
    }
    &.left{
      left: 0;
      .icon{
        left: 14px;
        background-position: 0 -60px;
      }
    }
    &.right{
      right: 0;
      .icon{
        left: 17px;
        background-position: -11px -60px;
      }
    }
  }
  .items{
    width: 10000px;
    .clearfix;
  }
  .container{
    width: 100%;
    padding-bottom: 20px;
    overflow: hidden;
  }
  .fade{
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    background: url(../img/fade-overlay.png) repeat-y;
    z-index: 4;
    &.left{
      left: 4px;
      background-position: -50px 0;
    }
    &.right{
      right: 4px;
      background-position: 0 0;
    }
  }
  .thumb{
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    img{
      display: block;
      width: 100%;
      .rounded(4px);
      .box-shadow(0 10px 15px 0 #e0c2b2);
    }
    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      .opacity(0);
      .transition();
      z-index: 2;
      .rounded(4px);
    }
    .icon{
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -30px 0 0 -30px;
      width: 60px;
      height: 61px;
      background: url(../img/icons.png) 0 -119px no-repeat;
      .opacity(0);
      .transition();
      z-index: 3;
    }
    &:hover{
      .icon{
        .opacity(1);
      }
      .overlay{
        .opacity(0.3);
      }
    }
  }
}
.bottom-links{
  margin: 35px 0 46px;
  font-size: 0;
  &.content-right{
    margin-top: 0;
  }
  a{
    display: inline-block;
    padding: 9px 12px;
    margin: 0 17px 0 0;
    min-width: 108px;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    .rounded();
    .gradient(#d97738, #c96526, #e98a49);
    .myriad();
    &:hover, &.active{
      .gradient(#64949b, #58878e, #72a2aa);
    }
    &.active{
      cursor: default;
    }
  }
  .col{
    float: left;
    margin-left: 17px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #99918c;
    &:first-child{
      margin-left: 0;
    }
    a{
      display: block;
      margin: 0 0 4px;
    }
  }
  &.long{
    margin-bottom: 32px;
    a{
      min-width: 124px;
    }
  }
}
#promo-menu{
  margin: -33px 0 0 -18px;
  .clearfix;
  .item{
    float: left;
    width: 230px;
    margin-left: 18px;
  }
  .text{
    padding: 13px 21px 0;
    height: 122px;
    background: #fff;
    .rounded(6px);
    .box-shadow(0 9px 15px -4px #e0c2b2);
    text-align: center;
    color: #625a55;
    a{
      display: block;
      margin: 0 0 10px;
      padding: 5px 10px 4px;
      border: 1px solid #dbdbdb;
      font-size: 18px;
      line-height: 20px;
      color: #4b818c;
      text-decoration: none;
      text-align: center;
      .gradient(#f9f9f9, #f2f2f2, #fff);
      .rounded(2px);
      &:hover{
        border-color: #D0D0D0;
        .gradient(#f2f2f2, #e6e6e6, #fefefe);
      }
    }
  }
  .man{
    position: relative;
    height: 212px;
    line-height: 212px;
    text-align: center;
    background: url(../img/pman-shadow.png) center bottom no-repeat;
    img{
      display: inline-block;
      vertical-align: bottom;
      max-height: 100%;
      max-width: 100%;
    }
  }
  .picture{
    height: 58px;
    line-height: 58px;
    text-align: center;
    img{
      display: inline-block;
      max-height: 100%;
      vertical-align: middle;
    }
  }
}
#p-detailed{
  margin-bottom: 38px;
  min-height: 320px;
  position: relative;
  .transition();
  h2{
    font-size: 22px;
    line-height: 22px;
    font-weight: normal;
    margin: 0 0 13px;
    color: #d94635;
  }
  p{
    margin: 0 0 19px;
  }
  table{
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    td{
      padding: 0;
    }
  }
  a{
    color: #436a75;
  }
  .man{
    position: absolute;
    left: 0;
    top: 40px;
    width: 230px;
    height: 280px;
    line-height: 280px;
    text-align: center;
    background: url(../img/pman-shadow.png) center bottom no-repeat;
    z-index: 2;
    img{
      display: inline-block;
      vertical-align: bottom;
      max-height: 100%;
      max-width: 100%;
    }
  }
  .pager{
    display: block;
    position: absolute;
    left: 498px;
    top: 0px;
    z-index: 3;
    .page-num{
      display: block;
      width: 35px;
      height: 21px;
      padding: 14px 8px 16px;
      margin-right: 19px;
      border-top: 1px solid #fff;
      float: left;
      .myriad();
      font-size: 21px;
      line-height: 1em;
      font-weight: bold;
      text-align: center;
      color: #fff;
      .gradient(#dc5242, #d44033, #e46551);
      .rounded(50px);
      .opacity(0.4);
      .transition();
      cursor: pointer;
      &:hover, &.active{
        .opacity(1);
      }
    }
  }
  .back{
    position: absolute;
    left: 0;
    top: 32px;
    width: 484px;
    height: 280px;
    line-height: 280px;
    text-align: right;
    img{
      display: inline-block;
      vertical-align: middle;
      max-height: 100%;
      max-width: 100%;
    }
  }
  .quote{
    position: absolute;
    top: 113px;
    left: 244px;
    width: 236px;
    color: #615953;
    font-style: italic;
    &:before{
      content: "";
      position: absolute;
      left: -36px;
      top: 2px;
      display: block;
      width: 29px;
      height: 25px;
      background: url(../img/icons.png) -72px -142px no-repeat;
    }
    .name{
      margin-top: 7px;
      float: right;
      color: #436a75;
      font-style: normal;
      span{
        display: block;
        .tahoma();
        font-size: 12px;
        color: #9f9792;
      }
    }
  }
  .item{
    position: relative;
    padding: 78px 0 0 498px;
    min-height: 242px;
    &.moving{
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
.gov-orders{
  margin-left: -18px;
  margin-bottom: 30px;
  .clearfix;
  .item{
    float: left;
    width: 148px;
    height: 190px;
    margin-left: 18px;
  }
  .image{
    height: 82px;
  }
  .link{
    line-height: 18px;
    height: 36px;
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  s{
    display: block;
    text-decoration: none;
    font-size: 12px;
  }
}
// кннопки социальных сетей
.socials{
  margin: 0 0 28px -6px;
  overflow: hidden;
  .items{
    float: left;
    overflow: hidden;
    padding: 3px 6px 4px;
    background: #dbcbbb;
  }
  .item{
    float: left;
  }
}
// пэйджер
.person-pager{
  padding: 19px 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #9e9590;
  font-size: 0;
  line-height: 18px;
  text-align: center;
  .tahoma();
  a{
    display: inline-block;
    margin: 0 14px;
    font-size: 18px;
    vertical-align: top;
    &.active{
      text-decoration: none;
      color: #d94635;
      cursor: default;
    }
  }
}
.footer-robo{
  position: absolute;
  left: 0px;
  bottom: 50px;
  width: 100%;
  .robo{
    position: absolute;
    left: 4px;
    bottom: 0;
    width: 247px;
    height: 233px;
    background: url(../img/cms-robo.png) center bottom no-repeat;
  }
  .text{
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }
  a{
    position: absolute;
    top: 193px;
    left: 190px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
.technologies{
  margin: 33px 0 0;
  padding-left: 48px;
  font-size: 12px;
  .clearfix;
  table{
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
  }
  td{
    height: 164px;
    padding: 0;
    vertical-align: middle;
    font-style: italic;
  }
  .image{
    width: 120px;
    text-align: center;
  }
  .text{
    padding-right: 8px;
  }
  .link{
    position: absolute;
    bottom: -90px;
    left: 0;
    display: block;
    width: 232px;
    padding: 11px 44px 12px 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    .gradient(#2e2925, #3b3530, #221f1c);
    .transition(0.2s, linear);
    .arrow{
      position: absolute;
      top: 50%;
      right: 13px;
      display: block;
      width: 17px;
      height: 20px;
      background: url(../img/icons.png) -103px -142px;
      margin-top: -8px;
    }
  }
  .item{
    position: relative;
    display: block;
    width: 290px;
    height: 180px;
    float: left;
    margin-left: 20px;
    margin-bottom: 40px;
    background: #fff;
    overflow: hidden;
    .rounded(4px);
    .box-shadow(0 6px 10px -2px #e2c6b7);
    &:hover{
      .link{
        bottom: 0;
      }
    }
  }
}
.products{
  position: relative;
  margin: -15px 0 12px 0;
  padding-top: 161px;
  .clearfix;
  .link{
    position: absolute;
    top: 3px;
    left: 730px;
    width: 86px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    a{
      color: #4b818c;
    }
  }
  .head{
    position: absolute;
    left: 364px;
    top: 0;
    width: 225px;
    height: 161px;
    background: url(../img/prods-head.png) center bottom no-repeat;
  }
  .hand{
    position: absolute;
    top: 33px;
    left: 735px;
    width: 109px;
    height: 135px;
    background: url(../img/prods-hand.png) center bottom no-repeat;
  }
  .items{
    margin: 0 0 0 -18px;
  }
  .item{
    height: 152px;
    width: 266px;
    padding: 15px 24px 18px;
    margin: 0 0 18px 18px;
    float: left;
    background: #fff;
    .box-shadow(0 3px 4px -2px #e2c6b7);
    a{
      color: #d94635;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
    table{
      width: 100%;
      border: 0;
      border-spacing: 0;
      border-collapse: collapse;
    }
    td{
      padding: 0;
      height: 76px;
      text-align: center;
      vertical-align: middle;
    }
    .title{
      color: #d94635;
      font-size: 18px;
      line-height: 20px;
    }
    .img{
      img{
        display: block;
        margin: 0 auto;
        max-height: 100%;
      }
    }
  }
}
#about{
  margin: 14px 0;
  padding-left: 88px;
  text-align: center;
  .wrap{
    width: 620px;
  }
  .chief{
    margin: 0 auto 14px;
    width: 217px;
    height: 206px;
    background: url(../img/lunacharsky.jpg) center top no-repeat;
  }
  .title{
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 28px;
    color: #d94635;
    .date{
      font-size: 18px;
      line-height: 22px;
      .tahoma();
    }
  }
  .text{
    height: 114px;
    margin-bottom: 5px;
  }
  .bottom-links{
    a{
      margin: 0 9px;
      min-width: 98px;
    }
  }
}
#person-slider{
  position: relative;
  min-height: 275px;
  margin: 34px 0 94px; // в дизайне - 68
  padding: 0 22px;
  .arrow{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 80px;
    cursor: pointer;
    .gradient(#d97738, #c96526, #e98a49);
    .rounded(20px);
    .user-select();
    z-index: 4;
    &:hover{
      .gradient(#64949b, #58878e, #72a2aa);
    }
    .icon{
      width: 9px;
      height: 19px;
      display: block;
      position: absolute;
      top: 11px;
      background: url(../img/icons.png) no-repeat;
    }
    &.left{
      left: 0;
      .icon{
        left: 14px;
        background-position: 0 -60px;
      }
    }
    &.right{
      right: 0;
      .icon{
        left: 17px;
        background-position: -11px -60px;
      }
    }
  }
  .fade{
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    background: url(../img/fade-overlay.png) repeat-y;
    z-index: 4;
    &.left{
      left: 0px;
      background-position: -50px 0;
    }
    &.right{
      right: 0px;
      background-position: 0 0;
    }
  }
  .container{
    overflow: hidden;
    height: 100%;
    position: relative;
  }
  .page{
    width: 100%;
    position: relative;
    overflow: hidden;
    &.moving{
      position: absolute;
      top: 0;
      left: 0;
    }
    &.loading{
      height: 275px;
      background: url(../img/loader-gray.GIF) center center no-repeat;
    }
  }
  .item{
    width: 208px;
    float: left;
    margin-left: 20px;
  }
  .pic{
    margin-bottom: 40px;
    height: 200px;
    background: url(../img/talent-shadow.png) center bottom no-repeat;
    line-height: 200px;
    text-align: center;
    a{
      display: inline-block;
      vertical-align: bottom;
    }
    img{
      display: block;
      max-width: 208px;
      max-height: 200px;
    }
  }
  .link{
    display: block;
    margin: 0 auto;
    width: 186px;
    border: 1px solid #191919;
    .rounded(4px);
    text-align: center;
    text-decoration: none;
    .inside{
      display: block;
      border: 1px solid #534f4c;
      overflow: hidden;
      .gradient(#393330, #433c38, #322d2a);
      .rounded(3px);
      position: relative;
      span{
        display: block;
        width: 100%;
        padding: 5px 0;
        font-size: 18px;
        line-height: 20px;
        color: #fff;
        .transition();
      }
      .name{
        position: relative;
        top: 0;
      }
      .who{
        position: absolute;
        padding: 0;
        margin-top: -10px;
        top: -100%;
        left: 0;
      }
    }
    &:hover{
      .who{
        top: 50%;
      }
      .name{
        top: 60px;
      }
    }
  }
}
.footer-hands{
  position: absolute;
  left: 0px;
  bottom: 50px;
  width: 100%;
  .hands{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 245px;
    height: 116px;
    background: url(../img/magic-hands.png) center bottom no-repeat;
  }
  a{
    position: absolute;
    bottom: 60px;
    left: 228px;
    text-decoration: underline;
    font-size: 12px;
    line-height: 12px;
    &:hover{
      text-decoration: none;
    }
  }
}
#pop, #popbg{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#pop{
  z-index: 101;
}
#popbg{
  background: #000;
  .opacity(0.5);
  z-index: 100;
}
.popup{
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  background: #fff;
  .rounded(4px);
  z-index: 101;
  .close{
    position: absolute;
    top: 10px;
    right: 11px;
    width: 14px;
    height: 13px;
    background: url(../img/icons.png) -122px -142px no-repeat;
    cursor: pointer;
    &:hover{
      background-position: -138px -142px;
    }
  }
  .title{
    overflow: hidden;
    padding: 0 0 22px;
    line-height: 18px;
    color: #38616d;
    .shadow{
      height: 18px;
      border-bottom: 1px solid #ede9e8;
      padding: 6px 40px 6px 10px;
      .box-shadow(0 0 10px 7px #f9f7f6);
    }
  }
  &.visible{
    display: block;
  }
  .content{
    font-size: 12px;
    position: relative;
    .clearfix();
  }
  &.person{
    width: 480px;
    height: 300px;
    margin-left: -240px;
    margin-top: -150px;
    .box-shadow(0 -2px 3px 0 #53504e);
    .content{
      padding: 0 14px;
    }
    .pic{
      width: 214px;
      height: 206px;
      margin-right: 22px;
      float: left;
      line-height: 214px;
      text-align: center;
      background: url(../img/talent-shadow.png) center bottom no-repeat;
      img{
        display: inline-block;
        vertical-align: bottom;
        max-height: 100%;
        max-width: 100%;
      }
    }
    .text{
      overflow: hidden;
      font-size: 12px;
      p{
        margin: 0;
      }
    }
    .name{
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 22px;
      color: #d94635;
    }
    .foot{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 468px;
      height: 19px;
      padding: 4px 6px 6px;
      background: #fbf9f8;
      border-top: 1px solid #ede9e8;
      text-align: right;
    }
    .foot-link{
      color: #38616d;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
      .icon{
        display: inline-block;
        margin-left: 4px;
        height: 10px;
        width: 6px;
        background: url(../img/icons.png) -154px -142px no-repeat;
      }
    }
  }
  &.callback{
    width: 474px;
    min-height: 267px;
    margin-left: -237px;
    margin-top: -134px;
    .box-shadow(0 2px 3px 0 #53504e);
    .title{
      padding-bottom: 34px;
      .shadow{
        padding: 8px 40px 7px 10px;
      }
    }
    .content{
      position: static;
      padding: 0 24px;
      &.thanks{
        text-align: center;
        .large{
          display: block;
          margin: 0 0 14px;
          font-size: 22px;
          line-height: 24px;
          color: #d94635;
        }
        .img{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 248px;
          height: 194px;
          background: url(../img/thanks-pop-b.png) left bottom no-repeat;
        }
      }
    }
    .row{
      margin-bottom: 14px;
      position: relative;
      .clearfix();
    }
    .error-label{
      position: absolute;
      display: block;
      width: 240px;
      left: 100%;
      top: 0;
      padding: 3px 4px 2px;
      border: 1px solid #ede9e8;
      background: #fff;
      text-align: center;
      .rounded(4px);
      &:before{
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        left: -7px;
        top: 9px;
        background: url(../img/icons.png) -62px -42px no-repeat;
      }
    }
    label{
      display: block;
      width: 150px;
      float: left;
      margin-right: 7px;
      padding-top: 4px;
      cursor: pointer;
      .tahoma();
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea{
      display: block;
      border: 1px solid #dbdbdb;
      width: 234px;
      height: 19px;
      padding: 2px 10px 3px;
      .tahoma();
      &.error{
        border-color: #d60500;
      }
    }
    textarea{
      height: 81px;
      resize: none;
    }
    button{
      display: block;
      width: 96px;
      height: 32px;
      margin: 18px auto 0;
      padding: 6px 0 7px;
      border: 0;
      font-size: 12px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      .myriad();
      .box-sizing();
      .rounded();
      .gradient(#d97738, #c96526, #e98a49);
      &:hover{
        .gradient(#64949b, #58878e, #72a2aa);
      }
    }
  }
  &.miracle{
    width: 478px;
    height: 325px;
    margin-left: -239px;
    margin-top: -163px;
    text-align: center;
    background: #fff url(../img/miracle-pop-b.jpg) center bottom no-repeat;
    .box-shadow(0 2px 3px 0 #53504e);
    .large{
      position: absolute;
      top: 57px;
      left: 0;
      width: 100%;
      display: block;
      font-size: 22px;
      line-height: 24px;
      color: #d94635;
    }
    .cancel{
      position: absolute;
      left: 29px;
      top: 143px;
      width: 134px;
    }
    .accept{
      position: absolute;
      left: 274px;
      top: 143px;
      width: 150px;
    }
    a{
      font-size: 18px;
      line-height: 20px;
    }
    s{
      display: block;
      margin-top: 9px;
      font-size: 12px;
      line-height: 14px;
      color: #757575;
      text-decoration: none;
      .tahoma();
    }
  }
  &.four-o-four{
    width: 480px;
    height: 378px;
    margin: -189px 0 0 -240px;
    .box-shadow(0 2px 3px 0 #53504e);
    .content{
      margin: 26px;
      text-align: center;
      font-size: 12px;
    }
    .large{
      margin-bottom: 22px;
      font-size: 22px;
      line-height: 24px;
      color: #d94635;
    }
    .img{
      display: block;
      margin: 0 auto 14px;
    }
    p{
      margin: 0;
    }
  }
  &.loading{
    width: 64px;
    height: 64px;
    margin-top: -16px;
    margin-left: -16px;
    background: url(../img/loader-white.GIF) center center no-repeat;
  }
}
#flashback{
  margin: 20px 0 78px;
  .dates{
    height: 22px;
    margin: 0 0 10px;
    position: relative;
    .arial();
    span{
      position: absolute;
      top: 0;
      display: block;
      width: 64px;
      height: 18px;
      font-size: 18px;
      line-height: 18px;
      padding: 2px 0;
      text-align: center;
      color: #948d87;
      cursor: pointer;
      .rounded(8px);
      &:hover, &.active{
        color: #fff;
        background: #4b818c;
      }
      &.first{
        left: -12px;
      }
      &.last{
        right: -12px;
      }
    }
  }
  .contents{
    overflow: hidden;
    .container{
      width: 10000px;
      overflow: hidden;
    }
    .item{
      width: 474px;
      margin-right: 30px;
      float: left;
    }
    .title{
      display: block;
      margin: -1px 0 18px;
      font-size: 18px;
      line-height: 18px;
      color: #d94635;
    }
    .text{
      overflow: hidden;
    }
    .pic{
      float: left;
      width: 149px;
      height: 149px;
      margin-right: 31px;
      img{
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    p{
      margin: 14px 0 0;
      &:first-child{
        margin-top: 0;
      }
    }
  }
}
.flash-slider{
  padding: 11px 12px 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 37px;
  .box-shadow(inset 0 1px 2px 0 #deb3a1);
  .rounded(10px);
  .gradient(#f2e1d9, #f2e2da, #f1dfd7);
  .user-select();
  .scale{
    position: relative;
    height: 3px;
    border-bottom: 1px solid #f6eae4;
    .gradient(#ca412f, #d24431, #bb3d2c);
  }
  .point{
    position: absolute;
    top: -2px;
    display: block;
    height: 7px;
    width: 7px;
    border-bottom: 1px solid #f6eae4;
    .rounded(4px);
    .gradient(#ca412f, #d24431, #bb3d2c);
    &.first{
      left: 0;
    }
    &.last{
      margin-left: 0;
      right: 0;
    }
  }
  .pointer{
    position: absolute;
    top: -10px;
    left: 0;
    width: 7px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
    .round{
      position: absolute;
      top: 0;
      left: -8px;
      width: 23px;
      height: 30px;
      background: url(../img/icons.png) -162px -142px no-repeat;
      cursor: pointer;
    }
    &:hover{
      .round{
        background-position: -187px -142px;
      }
    }
  }
}
#wanted-slider{
  padding: 0 20px;
  margin: 22px 0 40px;
  position: relative;
  .arrow{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 100px;
    cursor: pointer;
    .gradient(#d97738, #c96526, #e98a49);
    .rounded(20px);
    .user-select();
    z-index: 4;
    &:hover{
      .gradient(#64949b, #58878e, #72a2aa);
    }
    .icon{
      width: 9px;
      height: 19px;
      display: block;
      position: absolute;
      top: 11px;
      background: url(../img/icons.png) no-repeat;
    }
    &.left{
      left: 0;
      .icon{
        left: 14px;
        background-position: 0 -60px;
      }
    }
    &.right{
      right: 0;
      .icon{
        left: 17px;
        background-position: -11px -60px;
      }
    }
  }
  .container{
    overflow: hidden;
    height: 100%;
  }
  .items{
    height: 100%;
    width: 10000px;
  }
  .item{
    float: left;
    width: 294px;
    margin-right: 28px;
  }
  .pic{
    height: 190px;
    margin-bottom: 30px;
    font-size: 0;
    line-height: 190px;
    img{
      display: inline-block;
      vertical-align: bottom;
      max-width: 294px;
      max-height: 190px;
    }
  }
  .title{
    margin: 0 0 13px;
    font-size: 22px;
    line-height: 22px;
    color: #d94635;
  }
}
.site-desc{
  h2{
    margin: 40px 0 23px;
    font-size: 22px;
    line-height: 24px;
    color: #d94635;
    font-weight: normal;
  }
  p{
    margin: 0 0 14px;
  }
  .def{
    margin: 0 0 40px;
    padding: 19px 18px 23px;
    border: 1px solid #999;
    background: #fff;
    .trebuchet();
    .rounded(4px);
    .box-shadow(0 6px 10px -2px #e1c4b5);
    table{
      border: 0;
      border-spacing: 0;
      border-collapse: collapse;
    }
    td{
      padding: 20px 0 0;
      vertical-align: top;
      &:first-child{
        width: 86px;
        padding-right: 6px;
        font-size: 15px;
        font-weight: bold;
      }
      &.target{
        color: #436a75;
      }
    }
    tr:first-child td{
      padding-top: 0;
    }
  }
  blockquote{
    margin: 14px auto;
    width: 440px;
    padding: 16px 20px;
    border: 0;
    background: #e1eff1;
    color: #436a75;
    &.quoted{
      position: relative;
      &:before{
        content: '';
        display: block;
        width: 30px;
        height: 26px;
        position: absolute;
        top: -1px;
        left: -35px;
        background: url(../img/icons.png) 0 -183px no-repeat;
      }
      &:after{
        content: '';
        display: block;
        width: 30px;
        height: 26px;
        position: absolute;
        bottom: -1px;
        right: -35px;
        background: url(../img/icons.png) -32px -183px no-repeat;
      }
    }
    &.white{
      background: transparent;
      margin: 0 0 6px;
      width: 480px;
      padding: 0 0 0 68px;
      font-style: italic;
      font-size: 16px;
      line-height: 21px;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        left: 5px;
        top: 2px;
        display: block;
        width: 29px;
        height: 25px;
        background: url(../img/icons.png) -72px -142px no-repeat;
      }
    }
    p{
      margin: 0;
    }
  }
  .gallery{
    margin-bottom: 20px;
    line-height: 0;
    font-size: 0;
    text-align: center;
    img{
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
    .item{
      display: inline-block;
      margin: 24px 31px 0;
      vertical-align: middle;
      &.large{
        margin: 24px auto 0;
      }
      &>span{
        display: block;
        margin-top: 5px;
        font-size: 11px;
        line-height: 19px;
        color: #99918c;
        text-align: center;
        .tahoma();
      }
    }
  }
  .num-gallery{
    margin: 30px 0 0 -2px;
    overflow: hidden;
    .item{
      display: block;
      float: left;
      height: 176px;
      width: 266px;
      padding: 0 16px 0 20px;
      margin-bottom: 14px;
      margin-left: 2px;
      position: relative;
    }
    .num{
      position: absolute;
      top: 0;
      left: 0;
      font-size: 18px;
      line-height: 18px;
      .tahoma();
    }
    img{
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  address{
    margin-top: 40px;
    font-style: normal;
    color: #436a75;
    a{
      color: #436a75;
    }
    .icon-link{
      margin-top: 11px;
      &:first-child{
        margin-top: 0;
      }
    }
    .show-review{
      display: inline-block;
      line-height: 14px;
      border-bottom: 1px dashed #436a75;
      cursor: pointer;
      &:hover{
        border-bottom-color: transparent;
      }
    }
  }
}
.person-desc{
  h2{
    margin: 0 0 29px;
    font-size: 22px;
    line-height: 22px;
    font-weight: normal;
    color: #d94635;
  }
  .socials{
    padding: 0;
    margin: 0 0 28px;
    .items{
      padding: 0;
      background: none;
    }
  }
}
.person-head{
  margin-bottom: 41px;
  width: 610px;
  overflow: hidden;
  .thumb{
    float: left;
    width: 290px;
    margin-right: 24px;
    background: url(../img/per-thumb-shadow.png) center bottom no-repeat;
    img{
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  .text{
    float: left;
    width: 296px;
    padding-top: 23px;
    line-height: 21px;
  }
  blockquote{
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 21px;
    color: #436a75;
    font-style: italic;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      left: -44px;
      top: 2px;
      display: block;
      width: 29px;
      height: 25px;
      background: url(../img/icons.png) -72px -142px no-repeat;
    }
  }
  p{
    margin: 0;
  }
}
#person-articles{
  margin-bottom: 28px;
  width: 582px;
  p{
    margin: 0;
  }
  .items{
    overflow: hidden;
    position: relative;
    &.loading{
      background: url(../img/loader-gray.GIF) center center no-repeat;
    }
  }
  .item{
    margin-bottom: 29px;
  }
  .page{
    width: 100%;
    &.moving{
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .link{
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 18px;
  }
  .person-pager{
    margin-top: 19px;
  }
}
.sd-slider{
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  .arrow{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    .rounded(20px);
    z-index: 4;
    cursor: pointer;
    .gradient(#64949b, #58878e, #72a2aa);
    &:hover{
      .gradient(#d97738, #c96526, #e98a49);
    }
    .icon{
      width: 9px;
      height: 19px;
      display: block;
      position: absolute;
      top: 11px;
      background: url(../img/icons.png) no-repeat;
    }
    &.left{
      right: 153px;
      .icon{
        left: 14px;
        background-position: 0 -60px;
      }
    }
    &.right{
      right: 8px;
      .icon{
        right: 13px;
        background-position: -11px -60px;
      }
    }
    &:active{
      .gradient(#d17037, #e98a49, #c96526);
    }
  }
  .pages{
    position: absolute;
    top: 10px;
    right: 47px;
    width: 104px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    .tahoma();
    .all{
      display: inline-block;
      margin-left: 6px;
    }
    .cur{
      display: inline-block;
      margin-right: 6px;
    }
  }
  .img{
    float: left;
    width: 394px;
    margin-right: 18px;
    img{
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  .text{
    overflow: hidden;
    padding-top: 81px;
  }
  .slide{
    overflow: hidden;
  }
  p{
    margin: 19px 0 0;
    &:first-child{
      margin: 0;
    }
  }
}
.sd-review{
  margin: 0 0 32px;
  padding: 24px 20px;
  background: #fff;
  .rounded(4px);
  .box-shadow(0 6px 10px -2px #e0c2b2);
  h2{
    margin: 0 0 20px;
  }
  .name{
    text-align: right;
    font-size: 12px;
    line-height: 14px;
    color: #888;
    b{
      display: block;
      font-size: 16px;
      line-height: 18px;
      font-weight: normal;
      color: #d94635;
      &:before{
        content: '- ';
      }
    }
  }
}
.tabs{
  margin-bottom: 40px;
  .labels{
    margin: 0 0 -4px;
    width: 646px;
    overflow: hidden;
  }
  .label{
    position: relative;
    display: block;
    padding: 11px 36px 13px 38px;
    margin-left: 2px;
    width: 140px;
    height: 19px;
    float: left;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    .myriad();
    .rounded(2px 2px 0 0);
    .gradient(#8e8e8e, #656565, #999999);
    &:hover{
      .gradient(#676767, #999999, #656565);
    }
    &:first-child{
      margin-left: 0;
    }
    .num{
      position: absolute;
      left: 10px;
      top: 7px;
      width: 22px;
      height: 22px;
      padding: 2px;
      background: #fff;
      .rounded(14px);
      &>div{
        display: block;
        padding: 0 0 1px;
        height: 21px;
        font-size: 21px;
        line-height: 21px;
        font-weight: bold;
        color: #77706c;
        background: #fff;
        .rounded(14px);
      }
    }
    &.active{
      background: #fff;
      color: #625a55;
      .box-shadow(inset 0 10px 8px -4px #faf5f2);
      .num{
        color: #77706c;
        .gradient(#8e8e8e, #656565, #999999);
      }
    }
  }
  .tab-content{
    position: relative;
    padding: 28px 20px;
    background: #fff;
    z-index: 1;
    .rounded(4px);
    .box-shadow(0 6px 10px -2px #e0c2b2);
  }
}
#four-o-four{
  position: absolute;
  top: 109px;
  bottom: 50px;
  width: 100%;
  .wrap{
    height: 100%;
    padding-left: 114px;
    width: 864px;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 318px;
    margin-top: -140px;
    width: 456px;
    height: 280px;
    text-align: center;
  }
  .image{
    width: 308px;
    height: 186px;
    margin: 0 auto 55px;
    background: url(../img/404-image.png) left top no-repeat;
  }
  p{
    margin: 0;
  }
}
#clients-gloss{
  margin-bottom: 19px;
  margin-top: 46px;
  .col{
    width: 172px;
    float: left;
    margin-left: 170px;
    .transition(0.1s);
    &:first-child{
      margin-left: 0;
    }
  }
  .items{
    min-height: 190px;
    overflow: hidden;
    .item{
      margin-bottom: 17px;
    }
    .title{
      font-size: 18px;
      line-height: 21px;
    }
    p{
      margin: 0;
    }
    &.loading{
      background: url(../img/loader-gray.GIF) center center no-repeat;
      height: 200px;
      .col{
        .opacity(0);
      }
    }
  }
}
.cg-menu{
  max-width: 100%;
  margin-bottom: 49px;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  td{
    width: 27px;
    padding: 0 0 0 2px;
    vertical-align: top;
    text-align: center;
    &.lang{
      width: auto;
      padding: 5px 10px 0 0;
      text-align: left;
    }
    &.hidden{
      display: none;
    }
    &>a{
      display: block;
      padding: 4px 0;
      text-align: center;
      font-size: 18px;
      line-height: 20px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      .rounded(2px);
      .gradient(#d87737, #c96526, #e98a49);
      &:hover, &.current{
        .gradient(#66959d, #58878e, #72a2aa);
      }
      &.current{
        cursor: default;
      }
      &.empty{
        .gradient(#f1d6c5, #eed2c1, #f4d9c8);
      }
    }
  }
  .lang{
    position: relative;
    .current-lang{
      display: inline-block;
      padding: 0;
      background: none;
      border-bottom: 1px dashed #436a75;
      color: #436a75;
      font-size: 0;
      line-height: 16px;
      vertical-align: top;
      text-transform: none;
      &:hover{
        border-bottom-color: transparent;
      }
    }
    .text{
      display: inline-block;
      font-size: 14px;
      vertical-align: top;
    }
    .arr{
      display: inline-block;
      margin-left: 6px;
      width: 7px;
      height: 16px;
      background: url(../img/icons.png) -32px -52px no-repeat;
      vertical-align: top;
    }
  }
  .list{
    display: none;
    position: absolute;
    top: 24px;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 17px;
    overflow: hidden;
    li{
      padding: 0;
      margin-top: 2px;
      &:first-child{
        margin-top: 0;
      }
    }
  }
  .lang.opened{
    border-bottom-color: transparent;
    .list{
      display: block;
    }
    .arr{
      background-position: -41px -52px;
    }
  }
}
// слайдер клиентов
#roller-slider{
  padding: 0 22px;
  margin: 42px 0 70px;
  position: relative;
  @speed: 400ms;
  .container{
    width: 934px;
    height: 300px;
    margin: 0 auto;
    position: relative;
  }
  .arrow{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 124px;
    cursor: pointer;
    .opacity(0.5);
    .transition();
    .gradient(#d97738, #c96526, #e98a49);
    .rounded(20px);
    .user-select();
    z-index: 4;
    &:hover{
      .gradient(#64949b, #58878e, #72a2aa);
    }
    .icon{
      width: 9px;
      height: 19px;
      display: block;
      position: absolute;
      top: 11px;
      background: url(../img/icons.png) no-repeat;
    }
    &.left{
      left: 2px;
      .icon{
        left: 14px;
        background-position: 0 -60px;
      }
    }
    &.right{
      right: 2px;
      .icon{
        left: 17px;
        background-position: -11px -60px;
      }
    }
  }
  &:hover{
    .arrow{
      .opacity(1);
    }
  }
  .item{
    visibility: hidden;
    position: absolute;
    top: 65px;
    left: 373px;
    width: 100px;
    height: 130px;
    padding: 20px 22px 10px;
    .opacity(0);
    .transition(0.4s);
    .box-shadow(0 4px 6px -2px #e0c3b3);
    .preview{
      display: block;
      float: left;
      max-width: 36%;
      margin: 0 14px 0 0;
    }
    .title{
      margin-bottom: 1.2em;
      font-size: 1.3em;
      line-height: 1.2em;
      color: #3d6970;
      text-transform: uppercase;
    }
    .text{
      position: relative;
      max-height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      line-height: 14px;
      .transition(100ms);
    }
    .readmore{
      visibility: hidden;
      position: absolute;
      bottom: 30px;
      right: 30px;
      padding: 8px 12px;
      font-size: 12px;
      line-height: 14px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      vertical-align: top;
      .rounded();
      .gradient(#d97738, #c96526, #e98a49);
      .myriad();
      .opacity(0);
      .transition();
      &:hover{
        .gradient(#64949b, #58878e, #72a2aa);
      }
    }
    &.moving{
      .text{
        .opacity(0);
      }
    }
    &.center{
      visibility: visible;
      left: 227px;
      top: 0;
      width: 420px;
      height: 240px;
      padding: 30px 30px 60px;
      background-color: #fffffe;
      z-index: 3;
      .opacity(1);
      .rounded(10px);
      .text{
        font-size: 14px;
        line-height: 16px;
      }
      .readmore{
        visibility: visible;
        .opacity(1);
      }
    }
    &.left, &.right{
      visibility: visible;
      width: 180px;
      height: 170px;
      background-color: #f3e2da;
      .opacity(1);
      .rounded(6px);
    }
    &.left{
      left: 0;
      padding-left: 26px;
    }
    &.right{
      left: 706px;
      padding-right: 26px;
    }
  }
}
.company-desc{
  .icon-link{
    margin-bottom: 19px;
  }
  p+.icon-link{
    margin-top: -7px;
  }
  .tasks{
    margin: 36px 0 30px;
    ul{
      margin: 10px 0 0;
      padding: 0;
      font-size: 0;
      list-style: none;
    }
    li{
      padding: 0 12px 0 0;
      margin: 6px 0 0;
      position: relative;
      &:first-child{
        margin-top: 0;
      }
    }
    .icon{
      display: inline-block;
      vertical-align: top;
      margin: 6px 0 0 4px;
      height: 10px;
      width: 6px;
      background: url(../img/icons.png) -154px -142px no-repeat;
    }
    a{
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      color: #436a75;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .sd-review{
    margin-top: 38px;
    padding: 0;
    background-color: transparent;
    .box-shadow(none);
    h2{
      color: #d94635;
    }
    blockquote{
      width: 562px;
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 21px;
      color: #436a75;
      font-style: italic;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        left: -44px;
        top: 2px;
        display: block;
        width: 29px;
        height: 25px;
        background: url(../img/icons.png) -72px -142px no-repeat;
      }
    }
  }
}
.tech-list{
  margin: 50px 0 16px -18px;
  overflow: hidden0;
  font-size: 0;
  .item{
    display: inline-block;
    margin: 0 0 24px 18px;
    width: 148px;
    font-size: 12px;
    vertical-align: top;
  }
  .img{
    display: block;
    margin-bottom: 18px;
    padding: 10px;
    height: 114px;
    background: #fff;
    line-height: 114px;
    text-align: center;
    .box-shadow(0 2px 2px -1px #e0c2b2);
    .rounded(6px);
    img{
      display: inline-block;
      max-height: 114px;
      max-width: 128px;
      vertical-align: middle;
    }
  }
  a{
    color: #625a55;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
.blog-menu{
  margin-bottom: 52px;
  overflow: hidden;
  .myriad();
  z-index: 2;
  .rounded(4px);
  .box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
  table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 0;
    .gradient(#ca3a2a, #c53526, #d24a39);
  }
  td{
    padding: 0;
  }
  a{
    display: block;
    padding: 14px 0;
    border-top: 1px solid #de7b6f;
    border-left: 1px solid #d13b2b;
    border-right: 1px solid #bb3728;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 0 -1px 0 #75170e;
    &:hover{
      border-color-left: transparent;
      border-color-right: transparent;
      .radial-gradient(#ca3a2a, #f64a36, #ca3a2a, 0%, 60%);
    }
    &:active{
      border-top-color: #913d33;
      .gradient(#a22618, #b42b1c, #68150e);
    }
  }
}
#blog-list{
  margin-bottom: 40px;
  .items{
    position: relative;
    margin-left: -28px;
    font-size: 0;
    .transition();
  }
  .page{
    display: none;
    width: 100%;
    .clearfix();
    &.current{
      display: block;
    }
    &.loading{
      height: 100%;
      min-height: 160px;
      background: url(../img/loader-gray.GIF) center center no-repeat;
    }
  }
  .item{
    float: left;
    margin: 0 0 40px 38px;
    width: 292px;
    border: 1px solid #c89d8a;
    overflow: hidden;
    vertical-align: top;
    .rounded(6px);
    .box-shadow(0 6px 10px #d7bead);
  }
  .pic{
    width: 274px;
    height: 274px;
    padding: 9px 9px 11px;
    border-bottom: 1px solid #ede9e8;
    .gradient(#fff, #fff, #e7dcd6);
    img{
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .text-info{
    padding: 7px 9px 10px;
    height: 66px;
    .clearfix();
  }
  .ava{
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    .rounded();
    img{
      display: block;
      max-width: 100%;
    }
  }
  .text{
    height: 51px;
    overflow: hidden;
    background: url(../img/blog-sl-txt-bg.png) left top;
    font-size: 16px;
    line-height: 17px;
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
    .link{
      display: inline-block;
      max-height: 34px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #436a75;
      vertical-align: top;
      font-weight: bold;
      font-style: italic;
    }
    .name{
      text-align: right;
      font-size: 12px;
      color: #625a55;
      .tahoma();
      &:before{
        content: "- ";
      }
    }
  }
}
.blog-slider{
  padding: 21px 20px 7px;
  background: #eddbd2;
  .box-shadow(inset 0 1px 2px -1px #c5a495);
  .rounded(2px);
  .user-select();
  .scale{
    height: 3px;
    margin-bottom: 12px;
    background: #625a55;
    position: relative;
    .rounded();
  }
  .pointer{
    position: absolute;
    top: -7px;
    left: 0;
    width: 5px;
    height: 20px;
    cursor: pointer;
    .round{
      position: absolute;
      top: 0;
      left: -7px;
      width: 19px;
      height: 20px;
      background: url(../img/icons.png) -90px -172px no-repeat;
      &:hover{
        background-position: -111px -172px;
      }
      &:active{
        background-position: -132px -172px;
      }
    }
  }
  .numbers{
    padding: 0 0 0 7px;
    height: 16px;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    color: #625a55;
    font-weight: bold;
    .trebuchet();
  }
  a{
    color: #625a55;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  .num{
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    &.last{
      left: auto;
      right: 0;
      text-align: right;
    }
    &.active a{
      color: #c93929;
      text-decoration: none;
      cursor: default;
    }
  }
}
.lt-ie9{
  #blog-slider .item{
    display: inline;
    zoom: 1;
  }
}
