{% block content %}
    {% for data in projects %}
        <div class="item">
            <a href="{{ path('project_show', { 'id': data.id }) }}" class="thumb">
                <img src="{{ web_image(data.screen.path).resize(250) }}" alt=""/>
                <span class="overlay"></span>
            </a>
            <a class="title" href="{{ path('project_show', { 'id': data.id }) }}">{{ data.name }}</a>
            <br>
            Проектировка, дизайн, разработка
        </div>
    {% endfor %}
{% endblock %}