{% extends '::base.html.twig' %}

{% block seo %}
        {% render(controller('LunySiteBundle:SeoBlock:main', {'page' : 'projects_gov'})) %}
{% endblock %}

{% block content %}
<div class="wrap clearfix">   
   <div class="page-title">
            <div class="content-left">
                <a class="link" href="{{ path('customer_list') }}">Все клиенты студии</a>
            </div>
            <div class="content-right">
                <h1>Государственным учереждениям</h1>
                <div class="subtitle">и инициативам города Москвы</div>
            </div>
        </div>
        <div class="content-right">
            <div class="gov-orders">
                
              {% for data in orders %} 
                <div class="item">
                    <div class="image">
                        <a href="{{ path('project_show', { 'id': data.id }) }}">
                            <img src="{{ data.goverIcon.path }}" alt=""/>
                        </a>
                    </div>
                    <div class="link">
                        <a href="{{ path('project_show', { 'id': data.id }) }}">{{ data.link }}</a>
                    </div>
                    {{ data.customer.organization }}
                    <s>{{ data.relYear }}</s>
                </div>
              {% endfor %}
               
            </div>
        </div>
    </div>
    <div class="footer-robo">
        <div class="wrap">
            <div class="robo">
                <div class="text">
                    Многозадачная<br>Простая в управлении
                </div>
                <a href="#">Сюда</a>
            </div>
        </div>
    </div>
    <div id="push"></div>      
</div>         
{% endblock %}