{% extends '::base.html.twig' %}

{% block seo %}
   {% if page is not empty %}
        {% render(controller('LunySiteBundle:SeoBlock:main', {'page' : page })) %}
   {% else %}
        {% render(controller('LunySiteBundle:SeoBlock:main', {'page' : 'projects'})) %}
   {% endif %}
{% endblock %}

{% block content %}
    <div class="wrap clearfix">
        <div class="page-title">
            <div class="content-right">
                <h1>Разработка сайтов под конкретные задачи</h1>
                <div class="page-subtitle">
                    С простым и надежным <a href="#">CMS Lunacharsky</a>
                </div>
            </div>
        </div>
      {% if projects | length > 0 %}
        <div id="sites-slider" data-pagenum="{{ pages }}" {% if category != null %} data-url="{{ path('project_ajax', { 'category': category}) }}" {% endif %}>
          {% if pages > 1 %}
            <div class="fade left"></div>
            <div class="fade right"></div>
            <div class="arrow left"><div class="icon"></div></div>
            <div class="arrow right"><div class="icon"></div></div>
          {% endif %}
            <div class="container">
                <div class="page">
                {% for data in projects %}   
                    <div class="item">
                        <a href="{{ path('project_show', { 'id': data.id }) }}" class="thumb">
                            <img src="{{ web_image(data.screen.path).resize(250) }}" alt="">
                            <span class="overlay"></span>
                        </a>
                        <a class="title" href="{{ path('project_show', { 'id': data.id }) }}">{{ data.name }}</a>
                        <br>
                        Проектировка, дизайн, разработка
                    </div>
               {% endfor %}
                </div>
            </div>
        </div>
      {% else %}
          <h1 class="content-right">Проектов нет...</h1>
      {% endif %}
      {% render(controller('LunySiteBundle:Menu:main', {'type' : 'on_project_page', 'class' : 'content-right'})) %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/sites-slider.js') }}"></script>
{% endblock %}