{% extends '::base.html.twig' %}

{% block seo %}
    <title>{{ pr.title }}</title>
    
    {% if pr.description is not null %}
         <meta name="description" content="{{ pr.description }}">
    {% endif %}

    {% if pr.keywords is not null %}
         <meta name="keywords" content="{{ pr.keywords }}">
    {% endif %}
{% endblock %}

{% block content %}
 <div class="wrap clearfix">
 <div class="page-title">
            <div class="content-left wide">
                <a class="b-link" href="{{ path('project_list') }}">Вернуться к списку сайтов</a>
            </div>
            <div class="content-right">
                <h1>{{ pr.name }}</h1>
            </div>
        </div>
        <div class="content-left wide">
            <div class="left-block">
                <div class="title">Команда проекта</div>
                <div class="content team-left">
                    <table>
                    {% for worker in team %}
                        <tr>
                            <td class="pic">
                                <a href="{{ path('worker_show', { 'id': worker.id }) }}" class="pic-link">
                                    <img src="{{ web_image(worker.photo.path).resize(50) }}" alt=""/>
                                </a>
                            </td>
                            <td>
                                <dl>
                                    <dt>{{ worker.position }}</dt>
                                    <dd><a href="{{ path('worker_show', { 'id': worker.id }) }}">{{ worker.fname }} {{ worker.lname }}</a></dd>
                                </dl>
                            </td>
                        </tr>
                    {% endfor %}                        
                    </table>
                </div>
            </div>
        </div>
        <div class="content-right site-desc">
            <div class="tabs">
                <div class="labels">
                    {% if pr.promotion != null %}
                        <div class="label">
                            <div class="num">
                                <div>1</div>
                            </div>
                            Описание
                        </div>
                    {% endif %}
                    {% if pr.programing != null %}
                    <div class="label">
                        <div class="num">
                            <div>2</div>
                        </div>
                        Программирование
                    </div>
                    {% endif %}
                    {% if pr.design != null %}
                        <div class="label active">
                            <div class="num">
                                <div>3</div>
                            </div>
                            Дизайн
                        </div>
                    {% endif %}
                </div>
                {% if pr.promotion != null %}
                <div class="tab-content" style="display: none;">
                    {{ pr.promotion|raw }}
                    <address>
                        <div class="icon-link">
                            <span class="icon earth"></span><a href="#">{{ pr.link }}</a>
                        </div>
                    </address>
                </div>
                {% endif %}
                {% if pr.programing != null %}
                <div class="tab-content" style="display: none;">
                    {{ pr.programing|raw }}
                    <address>
                        <div class="icon-link">
                            <span class="icon earth"></span><a href="#">{{ pr.link }}</a>
                        </div>
                    </address>
                </div>
                {% endif %}
                {% if pr.design != null %}
                <div class="tab-content" style="display: none;">
                    {{ pr.design|raw }}
                    {# может сделать через AJAX #}
                    <address>
                        <div class="icon-link">
                            <span class="icon earth"></span><a href="#">{{ pr.link }}</a>
                        </div>
                    </address>
                </div>
                {% endif %}
            </div>
            
            {% if pr.respText is not null %}            
            <div class="sd-review">
                <h2>{{ pr.respTitle }}</h2>
                <blockquote class="white">
                    {{ pr.respText | raw }}
                </blockquote>
                <div class="name">
                    <b>{{ pr.respAuth }}</b>
                    {{ pr.respPos }} {#<br>
                    НИИ “НАНОМЯСО” #}
                </div>
            </div>
            {% endif %}
            
            {#<div class="socials">#}
                {#<div class="items">#}
                    {#<div class="item">#}
                        {#<img src="/img/temp/socials.jpg" alt=""/>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

        </div>
    </div>
    <div id="push"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/project-detailed.js') }}"></script>
{% endblock %}
