{% if data is not null %}
<div class="{% if class is not null %}{{ class }} {% endif %}bottom-links content-right">
    {% for label in data %} 
         <a{% if active is not null and label.url|replace({"/web/app_dev.php/page/" : ''}) == active %} class="active"{% endif %} href="{{ label.url }}">{{ label.title }}</a>
    {% endfor %} 
</div>
{% endif %}