{% if data is not null %}  
<nav>
    <table>
        <tr>
            {% for label in data %}   
                <td><a href="{{ label.url }}">{{ label.title }}</a></td>
            {% endfor %} 
        </tr>
    </table>
</nav>
{% endif %}