{% if data is not null %}  
<div class="{% if class is not null %}{{ class }} {% endif %}bottom-links">
    {% for label in data %}
        {% if( products | length > 0 and label.title | lower == 'продукты' or
               workers | length > 0 and label.title | lower == 'таланты' or
               flashback | length > 0 and label.title | lower == 'флешбэк' or
               wanted | length > 0 and label.title | lower == 'wanted'
           )
        %}
         <a{% if active is not null and label.url == active %} class="active"{% endif %} href="{{ label.url }}">{{ label.title }}</a>
        {% endif %}
    {% endfor %} 
</div>
{% endif %}