<div class="close"></div>
<div class="title">
    <div class="shadow"></div>
</div>
<div class="content thanks">
    <div class="img"></div>
    <div class="large">СПАСИБО!</div>
    Мы свяжемся с вами уже сегодня!
</div>