    <div class="close"></div>
    <div class="title">
        <div class="shadow">Связаться</div>
    </div>
    <form class="content" id="callback-form" method="POST" action="{{ path('feedback') }}" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        {#
            <div class="row">
                <label for="cb-text">Текст соообщения:</label>
                <textarea id="cb-text" name="cb-text" type="text"></textarea>
            </div>
            <div class="row">
                <label for="cb-mail">Ваша электронная почта:</label>
                <input id="cb-mail" class="error" name="cb-mail" type="text"/>
            </div>
        #}
        <button type="submit">Отправить</button>
    </form>


