{% if title is not null %}
    <title>{{ title }}</title>
{% endif %}

{% if description is not null %}
     <meta name="description" content="{{ description }}">
{% endif %}

{% if keywords is not null %}
     <meta name="keywords" content="{{ keywords }}">
{% endif %}