{% if wo_breadcrumbs()|length %}
  {% spaceless %}
    <div class="wrap clearfix">
        <div class="content-right breadcrumbs">
      {% for b in breadcrumbs %}

        {% if b.url and not loop.last %}
            <a href="{{ b.url }}" {% if linkRel is defined and linkRel|length %} rel="{{ linkRel }}"{% endif %}>
        {% else %}
            <span>
        {% endif %}
        {{- b.text | trans(b.translationParameters, translation_domain, locale) -}}
        {% if b.url and not loop.last %}
            </a>
        {% else %}
            </span>
        {% endif %}

        {% if separator is not null and not loop.last %}
            <span class='{{ separatorClass }}'>{{ separator }}</span>
        {% endif %}
     
      {% endfor %}
        </div>
     </div>
  {% endspaceless %}
{% endif %}
