<nav>
    <table>
        <tr>
            {% for data in labels %}   
                <td><a href="#">{{ data.title }}</a></td>
            {# <td><a href="{{ path('page_view', { 'url': 'about' }) }}">о компании</a></td> #}
            {% endfor %} 
        </tr>
    </table>
</nav>