{% extends '::base.html.twig' %}

{% block seo %}
    {% render(controller('LunySiteBundle:SeoBlock:main', {'page' : 'index'})) %}
{% endblock %}

{% block javascripts %}
   {{ parent() }}
         <script type="text/javascript" src="{{ asset('js/main-slider.js') }}"></script>
{% endblock %}
           
{% block content %}
<div class="main-page-filler"></div>
<div id="main-page">
    <div class="wrap">
        <div id="cms-slider">
            <div class="title">
                Надежно, как швейцарский механизм
                <b>CMS Luny 1.7</b>
            </div>
            <div class="arrow left"><span></span></div>
            <div class="arrow right"><span></span></div>
            <div class="items">
                <div class="container">
                    <div class="item">
                        <div class="icon">
                            <span class="cart"></span>
                        </div>
                        <div class="hiddentext">
                            Эффективная система распределения прав.
                            Неограниченные комбинации пользовательских групп.
                        </div>
                        Магазин
                    </div>
                    <div class="item">
                        <div class="icon">
                            <span class="people"></span>
                        </div>
                        <div class="hiddentext">Система распределения прав.</div>
                        Пользователи
                    </div>
                    <div class="item">
                        <div class="icon">
                            <span class="tv"></span>
                        </div>
                        <div class="hiddentext">Неограниченные комбинации.</div>
                        Видео каналы
                    </div>
                    <div class="item">
                        <div class="icon">
                            <span class="cart"></span>
                        </div>
                        <div class="hiddentext">Комбинации пользовательских групп.</div>
                        Магазин 1
                    </div>
                    <div class="item">
                        <div class="icon">
                            <span class="people"></span>
                        </div>
                        <div class="hiddentext">Система распределения прав 2.</div>
                        Пользователи 1
                    </div>
                    <div class="item">
                        <div class="icon">
                            <span class="people"></span>
                        </div>
                        <div class="hiddentext">Неограниченные комбинации 2.</div>
                        Пользователи 2
                    </div>
                    <div class="item">
                        <div class="icon">
                            <span class="tv"></span>
                        </div>
                        <div class="hiddentext">Система распределения прав 3.</div>
                        Видео каналы 2
                    </div>
                </div>
            </div>
            <div class="text"></div>
        </div>
        {% if worker is not null %}
        <div class="quote">
            {{ worker.quote | raw }}
            <div class="name">{{ worker.fname }} {{ worker.lname }}</div>
            <div class="prof">{{ worker.position }}</div>
        </div>
        <div class="person second">
            {% if worker.photo.path is not null %}
                 <img src="{{ web_image(worker.photo.path).scaleResize(null, 800) }}">
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
              
{% endblock %}
          
{% block footer %}
<div class="kremlin">
    <div class="wrap">
         <a href="{{ path('project_gov') }}"><span></span></a>
    </div>
</div>
{% endblock %}
