{% extends '::base.html.twig' %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block content %}

    <div class="wrap clearfix">
      {% if page.url == 'about' %}
        <div id="about">
      {% endif %}

      {{ page.content | raw }}

      {% if page.url != 'products' %}
        {% if page.url == 'about' %}
          {% render(controller('LunySiteBundle:Menu:main', {'type' : 'on_about_page'})) %}
        </div>
        {% else %}
          {% render(controller('LunySiteBundle:Menu:main', {'type' : 'on_project_page', 'active' : page.url})) %}
        {% endif %}
      {% endif %}
    </div>

{% endblock %}
