{% block content %}
    {% for data in vacancies %}
        <div class="item">
            <div class="pic">
                <img src="{{ web_image(data.image.path).resize(250) }}" alt=""/>
            </div>
            <div class="title">
                <a href="{{ path('wanted_view', {'id' : data.id }) }}">{{ data.title }}</a>
            </div>
            {{ data.preview }}
        </div>
    {% endfor %}
{% endblock %}