{% extends '::base.html.twig' %}

{% block seo %}
    {% render(controller('LunySiteBundle:SeoBlock:main', {'page' : 'wanted'})) %}
{% endblock %}

{% block content %}
<div class="wrap clearfix">
  {% if vacancies | length > 0 %}
    <div id="wanted-slider" data-pagenum="{{ pages }}" data-url="{{ path('wanted_ajax', { 'start': 1}) }}">
      {% if pages > 1 %}
        <div class="fade left"></div>
        <div class="fade right"></div>
        <div class="arrow left"><div class="icon"></div></div>
        <div class="arrow right"><div class="icon"></div></div>
      {% endif %}
        <div class="container">
            <div class="page">
                {% for data in vacancies %}
                    <div class="item">
                        <div class="pic">
                            <img src="{{ web_image(data.image.path).resize(250) }}" alt=""/>
                        </div>
                        <div class="title">
                            <a href="{{ path('wanted_view', {'id' : data.id }) }}">{{ data.title }}</a>
                        </div>
                        {{ data.preview }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
  {% else %}
    <h1 class="content-right">Вакансий нет</h1>
  {% endif %}
  {% render(controller('LunySiteBundle:Menu:main', {'type' : 'on_about_page', 'class' : 'content-right', 'active' : path(app.request.attributes.get('_route')) })) %}
</div>

{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/wanted-slider.js') }}"></script>
{% endblock %}