{% extends '::base.html.twig' %}

{% block seo %}
    <title>{{ vacancy.title }}</title>
   {# 
    {% if vacancy.description is not null %}
         <meta name="description" content="{{ vacancy.description }}">
    {% endif %}

    {% if vacancy.keywords is not null %}
         <meta name="keywords" content="{{ vacancy.keywords }}">
    {% endif %}
    #}
{% endblock %}

{% block content %}
<div class="wrap clearfix">

        <div class="content-left wide">
            <div class="left-block">
                <img src="{{ web_image(vacancy.image.path).resize(270) }}" alt="{{ vacancy.title }}" />
            </div>
        </div>
<div class="content-right">
{#<div class="title">{{ vacancy.title }}</div>#}
<h1>{{ vacancy.title }}</h1>

<p>
    {{ vacancy.descr | raw }}
</p>
</div>
</div>
{% endblock %}
