{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block stylesheets %}
        {{ parent() }}
                <style>
                    .select2-choices, textarea, input {
                      width: 35em !important;
                    }
                </style>
{% endblock %}