{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/mod-synctranslit.js') }}" type="text/javascript"></script>
    
    <script>
        $(document).ready(function(){
            $('[data-origin=page_name]').syncTranslit({destination: 'page_path'});
        });
    </script>
{% endblock %}
    
{% block stylesheets %}
        {{ parent() }}
                 <style>
                    #genparam {
                        display: list-item;
                        margin-top: 3px;
                        list-style-image: url({{ asset('image/admin/properties.png') }}) !important;
                    }
                </style>
{% endblock %}
                
{% block side_bar_after_nav %}
                        <ul id="genparam">
                            <li>
                                <a href="{{ path('admin_luny_site_genparam_edit', {'id': 'luny'}) }}">Общие настройки</a>
                            </li>
                        </ul>
 {% endblock %}
                
                
